= simple_form_for(current_user, url: user_registration_path, method: :put, html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
  = f.input :ring_size, collection: Ring::SIZES, prompt: 'Select your ring size'
  = f.submit 'Save'

%hr/
