.page-header
  %h2 Friends graph

#sigma-container{ style: 'width: 100%; height: 600px; background: #eee' }

%script{ type: 'text/javascript', src: asset_path('sigma.min.js') }
%script{ type: 'text/javascript', src: asset_path('plugins/sigma.parsers.json.min.js') }
%script{ type: 'text/javascript', src: asset_path('plugins/sigma.plugins.animate.min.js') }
%script{ type: 'text/javascript', src: asset_path('plugins/sigma.fruchterman.js') }

:javascript
  (function () {
    'use strict';

    var graphData = #{@graph.to_json};

    var sigInst = new sigma({
      container: 'sigma-container',
      graph: graphData,
      settings: {
        edgeColor: 'default',
        defaultNodeColor: '#aaa',
        defaultEdgeColor: '#111'
      }
    });

    var listener = sigma.layouts.fruchtermanReingold.start(sigInst, {});

    window.graphData = graphData;
  }());

