# bundler
/.bundle
/vendor/bundle

# logfiles and tempfiles
/log/*
!/log/.keep
/tmp

# Local env
.envrc
/coverage/
/public/uploads
/public/assets

# database files
postgres-data/
dump.rdb

# systemd
/systemd/nwspk-web.service
/systemd/nwspk-sidekiq.service

# caddy
Caddyfile
