# bundler
/.bundle
/vendor/bundle

# logfiles
/log/*
!/log/.keep

# tempfiles
/tmp/*
/tmp/pids/*
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

# Local env
.envrc
/coverage/
/public/uploads
/public/assets

# database files
postgres-data/
dump.rdb

# systemd
/systemd/nwspk-web.service
/systemd/nwspk-sidekiq.service

# caddy
Caddyfile
