%p{ style: 'margin-bottom: 36px' } Hello #{@user.name},

%p{ style: 'margin-bottom: 36px' }
  Your payment has failed to go through, please
  %a{ href: edit_subscription_url } check your payment details.

%p{ style: 'color: #555'}
  Any problems with your membership, or if you see anything funny with this email, please contact
  %a{ href: 'mailto:ed@newspeak.house' } ed@newspeak.house

%p
  %strong Newspeak House
