.graph-wrapper
  - if @graph.empty?
    .graph-error There's nothing to show here! (╯°□°）╯︵ ┻━┻
  - else
    .graph-container
    .graph-loader.loader

  = javascript_include_tag 'graphs'

  :javascript
    $(function () {
      initGraph($('.graph-container')[0], #{@graph.to_json}, #{@show_all_nodes.to_json});
    });
