= javascript_include_tag 'graphs'

#sigma-container{ style: 'width: 100%; height: 600px; background: transparent; position: absolute; left: 0' }
.loader

:javascript
  $(function () {
    initGraph(document.getElementById('sigma-container'), #{@graph.to_json});
  });
