= javascript_include_tag 'graphs'

:javascript
  (function () {
    'use strict';

    var graphData, sigInst, colors, communityMap;

    graphData = #{@graph.to_json};

    colors = ['#556270', '#4ECDC4', '#C7F464', '#FF6B6B', '#C44D58'];
    communityMap = [];

    graphData.nodes.forEach(function (n) {
      if (communityMap.indexOf(n.community) === -1) {
        communityMap.push(n.community);
      }
    });

    sigInst = new sigma({
      graph: graphData,

      renderer: {
        container: document.getElementById('sigma-container'),
        type: 'canvas'
      },

      settings: {
        edgeColor: 'target',
        defaultNodeColor: '#555',
        defaultEdgeColor: '#aaa',
        borderSize: 1,
        defaultNodeBorderColor: 'node'
      }
    });

    sigInst.graph.nodes().forEach(function (n) {
      n.size = n.size + 10;

      if (graphData.center != null && n.id === graphData.center) {
        n.color = '#C02D25';
      }

      if (n.community != null) {
        n.color = colors[communityMap.indexOf(n.community) % colors.length];
      }
    });

    sigInst.refresh();

    sigInst.bind('clickNode', function (e) {
      if (e.data.node.url.length > 0) {
        window.open(e.data.node.url, '_blank');
      }
    });

    sigInst.startForceAtlas2({
      adjustSizes: true, worker: false
    });

    setTimeout(function () {
      sigInst.stopForceAtlas2();
    }, 12000);

    window.graphData = graphData;
  }());
