= javascript_include_tag 'graphs'

:javascript
  $(function () {
    'use strict';

    var data = #{@graph.to_json};

    var container = document.getElementById('sigma-container');

    var options = {
      width: '100%',
      height: '600px',

      edges: {
        width: 1,
        widthMax: 2,
        inheritColor: 'from'
      },

      nodes: {
        shape: 'dot',
        fontFace: 'akkuratRegular',
        color: {
          border: '#555',
          background: '#666',
          highlight: '#C02D25'
        }
      },

      tooltip: {
        fontFace: 'akkuratLight',
        fontColor: '#fff',
        color: {
          border: '#000',
          background: '#111'
        }
      },

      groups: {}
    };

    var colorSwatch = [['#556270', '#3f4953'], ['#4ECDC4', '#33b5ac'], ['#C7F464', '#b6f134'], ['#FF6B6B', '#ff3838'], ['#C44D58', '#a73742']],
      uniqColorCounter = 0,
      nodeMap = {};

    data.nodes.forEach(function (n) {
      nodeMap[n.id] = n;

      if (typeof options.groups[n.group] === 'undefined') {
        var swatch = colorSwatch[uniqColorCounter % colorSwatch.length];

        options.groups[n.group] = {
          color: {
            border: swatch[1],
            background: swatch[0]
          }
        };

        uniqColorCounter++;
      }
    });

    var network = new vis.Network(container, data, options);

    network.on('doubleClick', function (props) {
      var url = nodeMap[props.nodes[0]].meta.url;

      if (url.length > 0) {
        window.open(url, '_blank');
      }
    });

    $(window).on('resize', function () {
      network.redraw();
    });
  });
