%script{ type: 'text/javascript', src: asset_path('sigma.min.js') }
%script{ type: 'text/javascript', src: asset_path('plugins/sigma.parsers.json.min.js') }
%script{ type: 'text/javascript', src: asset_path('plugins/sigma.plugins.animate.min.js') }
%script{ type: 'text/javascript', src: asset_path('plugins/sigma.fruchterman.js') }
%script{ type: 'text/javascript', src: asset_path('sigma.customLabels.js') }

:javascript
  (function () {
    'use strict';

    var graphData, sigInst, listener;

    graphData = #{@graph.to_json};

    sigInst = new sigma({
      graph: graphData,

      renderer: {
        container: document.getElementById('sigma-container'),
        type: 'canvas'
      },

      settings: {
        edgeColor: 'default',
        defaultNodeColor: '#555',
        defaultEdgeColor: '#aaa'
      }
    });

    sigInst.bind('clickNode', function (e) {
      if (e.data.node.url.length > 0) {
        window.open(e.data.node.url, '_blank');
      }
    });

    listener = sigma.layouts.fruchtermanReingold.start(sigInst, {});

    window.graphData = graphData;
  }());
