- content_for :page_title do
  Door access graph

= render partial: 'graph'

.graph-panel
  = form_tag graphs_full_path, method: :get, class: 'form-vertical' do
    .form-group
      = date_range_select
    .form-group
      = submit_tag 'Show connections', class: 'btn btn-default'
