- content_for :page_title do
  Full member graph

= render partial: 'graph'

.graph-panel
  = form_tag graphs_full_path, method: :get do
    = select_tag 'date_range', options_for_select([['All', 'all'], ['Past month', 'month'], ['Past week', 'week']], @date_range)
    = submit_tag 'Show connections'
