%section
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Visit Newspeak house

    %address
      133-135 Bethnal Green Road,
      %br/
      Shoreditch,
      %br/
      London E2 7DG

    %h2.top-margin Hire Newspeak house

    %p Newspeak House is available for hire. For enquiries please contact: Aisha Brady, Programme Assistant aisha@nwspk.com

  = side_link_to "https://goo.gl/maps/Z8Sa4T6sb3n"
