%section.flip.contact
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Visit Newspeak house

    %address
      133-135 Bethnal Green Road,
      %br/
      Shoreditch, London E2 7DG

    %p 
      %b
        To arrange a visit, contact:
      %br/
      Ed Saperia, Founder
      %br/
      %br/
      Or come to one of our events

  = side_link_to "https://goo.gl/maps/Z8Sa4T6sb3n"

%section
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Hire Newspeak house

    %p Newspeak House is available for hire.

    %p 
      %b
        For enquiries please contact:
      %br/
      Aisha Brady, Programme Assistant
      %br/
      aisha@nwspk.com

  = side_link_to "https://goo.gl/maps/Z8Sa4T6sb3n"
