%section.house.center-block
  = image_tag('house.png')
  = top_right_link_to root_path

  - if user_signed_in?
    = top_left_link_to 'Dashboard', dashboard_path
  - else
    = top_left_link_to 'Sign in', new_user_session_path
