%section.intro
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h4 Newspeak House is an events venue, community space and residential incubator in East London founded to foster innovation in politics, government and political media.
