%p.intro
  The London College of Political Technologists

.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
  %p{ style: 'text-align: center; padding: 10px 0' } Newspeak House is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across UK public sector and civil society

  
  %p{ style: 'text-align: center; padding: 20px 0' }= link_to '133-135 Bethnal Green Road, E2 7DG', "https://goo.gl/maps/Z8Sa4T6sb3n", class: "calendar-link"

  %p{ style: 'text-align: center; padding: 0px 0' }= link_to 'contact@newspeak.house', "mailto:contact@newspeak.house", class: "calendar-link"
