- links ||= false

.member
  = link_to user.url do
    = image_tag profile_image_url(user)
  .member-text
    = link_to user.name, user.url
    = Kramdown::Document.new(user.showcase_text).to_html.html_safe
