- links ||= false

.col-xs-12.col-sm-12
  %li
    = link_to social_media_url(user) do
      = image_tag profile_image_url(user), class: 'member-image'
    .member-details
      %span.member-title= link_to user.name, social_media_url(user)
      %span.member-description= Kramdown::Document.new(user.showcase_text).to_html.html_safe

      - if user.twitter
        %a.twitter-follow-button{ href: user.twitter.profile_url, data: { 'show-count': 'false', 'show-screen-name': 'false' } } Follow
