%section.membership
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Membership

    %p More members = better facilities, more events

    = render partial: 'progress'

  = side_link_to new_user_registration_path
