%section.membership
  .col-md-8.col-md-offset-2.col-xs-12
    %h2= link_to 'Membership', new_user_registration_path

    %p Help Newspeak House stay independent, and join a network of people pioneering novel approaches in UK public sector and civil society

    = render partial: 'progress'

  = link_to 'More about Membership', new_user_registration_path, class: 'action-btn btn btn-default'