%section.members
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Recent Members

    %ul.members-list
      - @members.each do |member|
        = render partial: 'member', locals: { user: member }

  = side_link_to graphs_full_path
