.membership-progress
  .progress
    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => goal_percent(@total_pledged), :role => "progressbar", :style => "width: #{goal_percent(@total_pledged)}%;"}

  .progress-details
    .progress-left
      %span.membership-progress
        #{@total_members}  members
    /.progress-center
    /  %span.membership-progress-upper= @total_pledged.format
    /  %span.membership-progress-lower pledged
    .progress-right
      %span.membership-progress
        #{goal_percent(@total_pledged)}% independent
