%section.flip.quotes
  .col-md-12
    #quoteCarousel.carousel.slide{"data-ride" => "carousel"}
      .carousel-inner.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-2{:role => "listbox"}
        .item.active
          "Everyone in the UK who has any interest in tech mixed with politics, government, journalism or social change should spend time at Newspeak House ASAP"
          %span
            Tom Steinberg, Founder of MySociety
        .item
          "For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on."
          %span
            Rufus Pollock, Founder of Open Knowledge
        .item
          "As we shuffle towards a dystopian future, Newspeak House dares to offer a space where we can consider alternative visions."
          %span
            Bill Thompson, Tech Journalist

      %a.left.carousel-control{"data-slide" => "prev", :href => "#quoteCarousel", :role => "button"}
        = fa_icon('angle-double-left')
        %span.sr-only Previous

      %a.right.carousel-control{"data-slide" => "next", :href => "#quoteCarousel", :role => "button"}
        = fa_icon('angle-double-right')
        %span.sr-only Next
