- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

/ left side of the screen
.screen-side{:style => "background-color: #2e2e2e;"}

/ middle of the screen
.main
  .center-column
    .head-title
      = image_tag('book-logo-black-2.png')
      .head-text
        %h1 Newspeak House
        %h3 The London College of Political Technology

    .nav
      %a{:href => "/index.html"} home
      %a{:href => "/about.html"} • about
      %a{:href => "/fellowship.html"} fellowship
      %a{:href => "/membership.html"} membership
      %a{:href => "/scholarships"} scholarships
      %a{:href => "/events.html"} events
      %a{:href => "/visit.html"} visit

    %p
      %a.inline-link{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} 133-135 Bethnal Green Road
      •
      %a.inline-link{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
      •
      %a.inline-link{:href => "https://twitter.com/nwspk"} @nwspk

    %h2 About
    %p
      Newspeak House, The London College of Political Technology, is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK
    %p
      “It's a factory which produces transformational ideas, people, and action - the beating heart of the UK's technology and democracy scene.” - Areeq Chowdhury, Head of Policy at The Royal Society, Fellow of Newspeak House
    %p
      “An invaluable space for practitioners and advocates to make unexpected connections, discover shared interests and to plot new actions” - Dr Aleksi Knuutila, Postdoctoral Researcher in Computational Propaganda, Oxford Internet Institute, Fellow of Newspeak House
    %p
      “An essential hub for people and communities that would never ordinarily meet.” - Lewis Westbury, Senior Developer, Digital Identity, Government Digital Service, Fellow of Newspeak House
    %p
      Political Technology is the study of institutions founded with an ideological purpose (civic, political, public sector, charitable, activist, etc), the communities that surround them, and in particular the novel digital infrastructures that they produce and deploy. This is a diverse and dynamic field that is affecting society in complex ways. Some examples: 
      %a.inline-link{:href => "https://www.wikidata.org/"}> &nbsp;Wikidata
      , 
      %a.inline-link{:href => "https://dogooder.co/"}> &nbsp;do-gooder
      , 
      %a.inline-link{:href => "https://www.organise.network/"}> &nbsp;Organise
      , 
      %a.inline-link{:href => "https://fullfact.org/about/automated/"}> &nbsp;Full Fact Automated Fact Checking
      , 
      %a.inline-link{:href => "https://www.globaleaks.org/"}> &nbsp;GlobaLeaks
      , 
      %a.inline-link{:href => "https://alaveteli.org/"}> &nbsp;Alaveteli
      , 
      %a.inline-link{:href => "https://en.wikipedia.org/wiki/Prediction_market"}> &nbsp;Prediction Markets
      , 
      %a.inline-link{:href => "https://sci-hub.41610.org/"}> &nbsp;Sci-Hub
      , 
      %a.inline-link{:href => "https://www.crowdjustice.com/"}> &nbsp;CrowdJustice
      , 
      %a.inline-link{:href => "https://loomio.org/"}> &nbsp;Loomio
      , 
      %a.inline-link{:href => "https://opencollective.com/"}> &nbsp;Open Collective
      , 
      %a.inline-link{:href => "https://quadraticvote.co/"}> &nbsp;Quadratic Vote
      , 
      %a.inline-link{:href => "https://www.maltego.com/"}> &nbsp;Maltego
      , 
      %a.inline-link{:href => "https://www.opensanctions.org/"}> &nbsp;OpenSanctions
      , 
      %a.inline-link{:href => "https://ckan.org/"}> &nbsp;CKAN
      , 
      %a.inline-link{:href => "https://policykit.org/"}> &nbsp;PolicyKit
      , 
      %a.inline-link{:href => "https://aragon.org/"}> &nbsp;Aragon
      ,
      %a.inline-link{:href => "https://www.coops.tech/"}> &nbsp;CoTech
      ,
      %a.inline-link{:href => "https://www.notifications.service.gov.uk/"}> &nbsp;Notify
      , 
      %a.inline-link{:href => "https://benefits-calculator.turn2us.org.uk/"}> &nbsp;Turn2us Benefits Calculator
      , 
      %a.inline-link{:href => "https://pol.is/"}> &nbsp;Polis
      , 
      %a.inline-link{:href => "https://openreferraluk.org/"}> &nbsp;Open Referral
      , 
      %a.inline-link{:href => "https://data.humdata.org/"}> &nbsp;Humanitarian Data Exchange
      , 
      %a.inline-link{:href => "https://charitybase.uk"}> &nbsp;CharityBase
      , 
      %a.inline-link{:href => "https://www.casmtechnology.com/"}> &nbsp;CASM
      , 
      %a.inline-link{:href => "https://democracyclub.org.uk/"}> &nbsp;Democracy Club
      , 
      %a.inline-link{:href => "https://www.threesixtygiving.org/"}> &nbsp;360Giving
      , 
      %a.inline-link{:href => "https://littlesis.org/"}> &nbsp;LittleSis
      , 
      %a.inline-link{:href => "https://oa.works/"}> &nbsp;OA.Works
      , 
      %a.inline-link{:href => "https://perspectiveapi.com/"}> &nbsp;Perspective
      , 
      %a.inline-link{:href => "https://whotargets.me/"}> &nbsp;Who Targets Me?
      , 
      %a.inline-link{:href => "https://turkopticon.net/"}> &nbsp;Turkopticon
      , 
      %a.inline-link{:href => "https://policymogul.com/"}> &nbsp;PolicyMogul
      , 
      %a.inline-link{:href => "http://www.datasciencepublicpolicy.org/our-work/tools-guides/aequitas/"}> &nbsp;Aequitas
      , 
      %a.inline-link{:href => "https://en.wikipedia.org/wiki/Bluesky_(protocol)"}> &nbsp;Bluesky
      , 
      %a.inline-link{:href => "https://en.wikipedia.org/wiki/Self-sovereign_identity"}> &nbsp;Self-sovereign Identity
      , 
      %a.inline-link{:href => "https://12ft.io/"}> &nbsp;12ft
      , 
      %a.inline-link{:href => "https://www.overton.io/"}> &nbsp;Overton
      , 
      %a.inline-link{:href => "https://coralproject.net/"}> &nbsp;Coral
      , 
      %a.inline-link{:href => "https://www.kialo.com/"}> &nbsp;Kialo
      , 
      %a.inline-link{:href => "https://matrix.org/"}> &nbsp;Matrix
      \. While we are honoured to count many academics amongst our membership, we are primarily a practitioner college that seeks to engage directly with the field by contributing to projects and communities, and working with key institutions.
    %p
      Newspeak House has two core programmes; it has a busy programme of
      , 
      %a.inline-link{:href => "/events.html"} Events
      , and it hosts a 
      %a.inline-link{:href => "/residency.html"}> &nbsp;residential programme
      \.
      
    %h2 Faculty
    
    %h2 Fellowship
    
    %h2 Residential Programme
    
    %h2 Events
    %p
      As part of our research we offer our spaces for civic communities of practice to convene. Since opening in 2015 we have hosted over a thousand events, including lectures, meetups, hackathons, conferences, unconferences, workshops, roundtables, screenings, fundraisers, launches, and exhibitions.
    %p  
      = image_tag('Empty Space (front).jpg')
    %p
      To keep up with the event programme you can 
      %a.inline-link{:href => "webcal://newspeak.house/api/events.ics"}> &nbsp;subscribe to our event calendar
      \. If you’d like to host an event in our space, you can
      %a.inline-link{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"}> &nbsp;hire it outright
      , or if you’re convening a civic community of practice do get in touch (
      %a.inline-link{:href => "mailto:contact@newspeak.house"}> contact@newspeak.house
      ) to see if it could fit into our programme.

    %h2 Events

  .foot
    %a{:href => "/about.html"} about
    %a{:href => "/fellowship.html"} fellowship
    %a{:href => "/membership.html"} membership
    %a{:href => "/scholarships"} scholarships
    %a{:href => "/events.html"} events
    %a{:href => "/visit.html"} visit

/ right side of the screen
.screen-side
