- content_for :page_title do
  Contact

%p.space
  .bold Newspeak House
  133 Bethnal Green Road
  %br/
  London, England, E2 7DG

%p.space
  .bold Founder
  Edward Saperia
  %br/
  = link_to 'ed@nwspk.com', 'mailto:ed@nwspk.com', target: '_blank'
-#edsaperia Facebook LinkedIn

%p.space
  .bold Hire
  = link_to 'Newspeak House is available for hire.', 'http://www.topofficemachines.com', target: '_blank'

%p
  For enquiries please contact:
  %br/
  Aisha Brady, Programme Assistant
  %br/
  = link_to 'aisha@nwspk.com', 'mailto:aisha@nwspk.com', target: '_blank'

.single-line.space.breakout

.footer
  = link_to image_tag('mono.png'), root_path
