.page-header
  %h1 Contact

%address
  %strong Newspeak House
  %br
  133 Bethnal Green Road
  %br/
  London, England, E2 7DG

%dl.dl-horizontal
  %dt Founder
  %dd Edward Saperia ed@nwspk.com
  %dd edsaperia Facebook LinkedIn

%p
  Newspeak House is available for hire. [brochure].
  %br/
  For enquiries please contact:

%dl.dl-horizontal
  %dt Programme Assistant
  %dd Aisha Brady aisha@nwspk.com
