- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2.no-topping
  Introduction to Political Technology
  %br
  2024-2025
  %br
  Course Handbook
%p
  A one year course for anyone who believes that technology plays an important role in shaping society. Participants will have the opportunity to observe and experiment with real-world emerging practices in organising and governance.
  %br
  %br
  %a.section-link{:href => "https://docs.google.com/document/d/1FKVWKVx6YermPxCzaSuEkruK3j9fHbW7xOUzpia3ml0"} Faculty  
  %br
  %br
  %a.section-link{:href => "https://docs.google.com/document/d/19STBHX3NiUWcFxBNy-UxJw64M7EwGyU9wtSNtLRU2Jc"} Fellowship Candidates 2024

%details
  %summary
    %h2 Induction
  %p Please register for the following events:
  %p
    <b>Welcome Dinner</b><br>
    Friday 27 September, 18:30-22:00<br>
    A chance for faculty and incoming students to socialise before the year begins.<br>
    %a{:href => "https://lu.ma/nwspk-welcome-dinner-2024"} Register ↗️
  %p
    <b>Orientation (Part One)</b><br>
    Saturday 28 September, 09:00-19:00<br>
    An introduction to the course, covering the core modules.<br>
    %a{:href => "https://lu.ma/nwspk-orientation-2024"} Register ↗️
  %p
    <b>Fellows' Dinner</b><br>
    Saturday 28 September, 19:00-01:00<br>
    The annual gathering of the fellowship. Matriculation of fellowship candidates from 2024 and graduation of fellows from 2023.<br>
    %a{:href => "https://lu.ma/nwspk-fellows-dinner-2024"} Register ↗️
  %p
    <b>Orientation (Part Two)</b><br>
    Sunday 29 September, 09:00-19:00<br>
    An introduction to the course, covering the advanced modules.<br>
    %a{:href => "https://lu.ma/nwspk-orientation-2024"} Register ↗️

%details
  %summary
    %h3 Calendar
  %table
    %thead
      %tr
        %th 2024
        %th
    %tbody
      %tr
        %td 28 September
        %td Autumn Term Begins
      %tr
        %td 7 December
        %td Autumn Term Retro
      %tr
        %td 16 December
        %td Autumn term Ends
    %thead
      %tr
        %th 2025
        %th
    %tbody
      %tr
        %td 13 January
        %td Spring Term Begins
      %tr
        %td 5 April 
        %td Spring Term Retro
      %tr
        %td 12 April
        %td Spring Term Ends
      %tr
        %td 28 April
        %td Summer Term Begins
      %tr
        %td 26 July
        %td Summer Term Retro
      %tr
        %td 2 August
        %td Summer Term Ends
      %tr
        %td 27 September
        %td Graduation

  %p Sessions will be organised via individual modules. In general, plenary sessions will be published in the Newspeak House events calendar, alongside public and community events. newspeak.house/api/events.ics

%details
  %summary
    %h2 Core Modules
  %p Core modules are mandatory activities that all students participate in throughout the year, and are taught in collaboration by the entire faculty.
  
  %h3 Governance
  %p Through managing a set of common pool resources, students have the chance to experiment with and experience different forms of governance, and develop original systems for decision-making, policy development, resource allocation, and conflict resolution.
  %a.section-link{:href => "https://docs.google.com/document/d/15sVI3hfZXScv9TZKj0cNYZ32Cg6SQSlAGpCjsO2Km5w"} Module Guide
  
  %h3 Fieldwork
  %p Students will engage with a broad variety of emerging civic communities of practice and understanding how they work. Students will also familiarise themselves with the landscape of political technologies through exploring the library and undertaking a grantmaking exercise.
  %a.section-link{:href => "https://docs.google.com/document/d/1IyObwyGZUAZvT8Lj1Z7SYF7FESi9PDSHQQEU2kgNr-Q"} Module Guide
  
  %h3 Prototype
  %p The culmination of the year’s work as students produce an original contribution to the field of political technology, both to demonstrate their sophisticated understanding of the field and to have a lasting real world impact.
  %a.section-link{:href => "https://docs.google.com/document/d/1FN8Ile4q1rLSwTUGmnUzr7ouEMT3cdGUv3pZ45sY4QM"} Module Guide

%details
  %summary
    %h2 Advanced Modules
  %p Advanced modules, lead by a single faculty member, focus on more specific skills and understanding.
  
  %h3 Institutional Analysis
  %div.profile-subtitle Dr Six Silberman
  %p In this module we will explore how institutions work (and don’t work), how they change, and how we as individuals can try to participate constructively in that functioning and change.
  %p Our main methods will be discussion and reading. The readings in this module are selected to support your practical work in other modules such as Governance and the Prototype. The readings prioritise empirical research; concepts and theories built on empirical research; and writings by practitioners. In particular, the ‘Institutional Analysis and Development’ framework developed by Elinor Ostrom and her collaborators figures prominently in the readings.
  %a.section-link{:href => "https://docs.google.com/document/d/1ezGpso8ybfX-6qmH6LVd495xEWCwiNHLW4jKJYoWkks"} Module Guide
  
  %h3 Engineering Group Decisions
  %div.profile-subtitle Dr Joshua Becker
  %p There is no such thing as an independent individual: everything you do and know and think is shaped by other people.
  %p The overall framework for this module is one of management as engineering. The goal is to help you think like an engineer about designing team, organizational, and social processes.
  %a.section-link{:href => "https://docs.google.com/document/d/1y5gvxFvFBRHhMJ7ZnJeURMmmNvKS1Caf8Z7TJm0rqig"} Module Guide
    
  %h3 Mechanism Design
  %div.profile-subtitle Mustafa Warsi
  %p If game theory is the study of optimal decision-making by agents given a set of resources, utilities, and constraints, [i.e. given a decision architecture, how should agents behave?] then mechanism design is the study of the inverse problem, namely, given a set of desirable behaviours, how do we design a decision architecture so that agents playing this game converge to the desired behaviour? i.e if microeconomics is the science of predicting the behaviour of optimising agents, then mechanism design is an attempt to engineer that behaviour.
  %p We will first specify motivating cases, then lay out the theoretical foundations of the field in the abstract, go through some results, and then see what they can teach us about those case studies.
  %a.section-link{:href => "https://docs.google.com/document/d/1U8_CzbaMZwsoJBR1dIgOA5lR5OPLaOSBZEh-PBZMnYY"} Module Guide
    
  %h3 Political Organising
  %div.profile-subtitle Hannah O’Rourke
  %p As technology reshapes the political landscape, traditional wisdom in political strategy is being upended. This offers huge opportunities for campaigners and political institutions, but also challenges.
  %p In this module, you will learn about the current state of political campaigning and organising in the UK and explore how this is being changed by technology. It is designed to support students to develop and operationalise their own political strategies for the causes they care about.
  %p How can you make change actually happen? What pressure points can you target? This module will teach you how to navigate the realpolitik of the political system and how to make lasting systemic political change.
  %p Alongside this, students will learn about the theoretical cutting edge of technology in organising. How do you run a decentralised campaign effectively using the platforms available? What tools are best for organising your own campaigns?
  %p Basically… how do you get stuff done in politics?!
  %a.section-link{:href => "https://docs.google.com/document/d/1fihxw4nnFLcAn3KwBrtb-sqTfeIOn3oEtPjT3CURfYs"} Module Guide
  
  %h3 Open Source
  %div.profile-subtitle Theodore Keloglou
  %p The Open Source Model for Software, Governance, Democracy
  %p The Open Source model has been used in software making since the 1970s. It’s characterised by transparency, collaboration, decentralisation — values that we would like to see in other places, most importantly in the governance of our societies.
  %p This module has two parts. One part is a series of 8 lectures that focus on practical aspects of open source technology and various topics of political theory and philosophy. The second part of the module is online calls (weekly for periods of time) that give space to students to share projects, project ideas, technical aspects, questions, or any other forms they want to share.
  %a.section-link{:href => "https://docs.google.com/document/d/1XZMGFmaTtP3-hNhXuzAdXnG7qwIRrlQzN388YE72cec"} Module Guide

  %h3 Future Crafting
  %div.profile-subtitle Dr Zarinah Agnew
  %p In this module, we tackle a range of tactics and strategies for societal transformation, including experimentation, prefiguration, envisioning, hyperstition, new hegemonies and sovereignties. This module centres on social technologies &amp; collective intelligence for diverse futurisms.
  %a.section-link{:href => "https://docs.google.com/document/d/1XxivPQe5arpdLz9IvbenmUbG3Dk6AVlM5sHCV184YHY"} Module Guide

  %h3 Service Design
  %div.profile-subtitle Sinead Doyle
  %p Service Design is a discipline that has emerged over the last thirty years, building on the foundation of User Centred Design. As we transition from a product economy to a service economy, the focus of design has shifted from the shaping of physical products, to the provision of experiences that meet a user's needs. We design end-to-end services, often through a mix of physical and digital channels, with support that extends before and after use or purchase of a product.
  %p A service is, quite simply, something that helps someone to do something. A user (or citizen) has a need: that need must be met by some combination of products and people, delivered as a series of steps over time. When we design a service, we are building the tooling that helps people get things done. Services are important: they allow people to access healthcare, travel, find jobs, get housing, manage money and achieve their goals. Good services save lives: bad services ruin lives. While Service Design has applications in all industries, it’s particularly vital in the public sector: service provision is the underlying purpose of government! As we digitise existing services, we have an opportunity to radically rethink policy and process, making people’s lives easier.
  %p In this module, we will look at how organisations meet the challenge of designing new services and iterating them. We’ll discuss the differences between product thinking and service thinking. We’ll talk about the toolkits, methodologies and artefacts that are used, and their strengths and weaknesses. There are many barriers: we’ll identify structural blockers, procurement hurdles, team shape issues and skills gaps. Finally, we’ll consider how service design needs to evolve to stay relevant in a changing world.
  %a.section-link{:href => "https://docs.google.com/document/d/1YTaVDtPK-k7hj4p58pOa07tU5I_Lr6cVdfsQqUQlScU"} Module Guide

  %h3 Robust Software and Systems
  %div.profile-subtitle Lewis Westbury
  %p The internet is a hostile environment. Internet-facing applications face a constant stream of threats - ranging from casual scripted attacks through to sophisticated, targeted attacks. Asking users to trust you with their data is a big responsibility.
  %p In this module we’ll explore techniques for reasoning about this environment, and how to build software and systems that are reliable and protect user data.
  %a.section-link{:href => "https://docs.google.com/document/d/129qdfOQ8Ynb7nLm7PfrcakuAVKnB_ybGAWw5jsWS8SI"} Module Guide

  %h3 Game Design
  %div.profile-subtitle Sam Ballard
  %p Games are systems carefully designed to evoke specific emotions in their participants. Political regimes in the real world are in fact also such systems, albeit for different ends. What can the craft of game design teach us that is applicable to designing policy? In this module, you’ll learn some game design theory from the commercial games industry, and also get hands-on experience of making game-design decisions.
  %a.section-link{:href => "https://docs.google.com/document/d/1iHhDxh4MuSfLBIAsCVvsHD4dwIldbqt-m0eLw2_8P84"} Module Guide

  %h3 Public Sector Innovation
  %div.profile-subtitle Andreas Varotsis
  %p If you’re at Newspeak House, you already care about how technology can improve our society for the better… but you probably also know that large public institutions like the government often fail to harness it, with seemingly simple solutions turning into colossally expensive, endlessly delayed megaprojects.
  %p So how can you improve public institutions using technology? When does it go wrong, and what can we do to try and make it work?
  %a.section-link{:href => "https://docs.google.com/document/d/1qwU0hkx4lfD_NU5VuI5oxIhhxwV0WIBXCDrmQc02CTA"} Module Guide

  %h3 Product Design
  %div.profile-subtitle Shad Gibran
  %p Once upon a time, technology wasn’t as ubiquitous as it is now. Not everyone had a phone, not everyone knew what email was. The last of those generations will fade out slowly and we’ll know a world where everybody alive on the planet is a digital native. For technology to have become as pervasive, addictive and dangerous as it is, it needs to be accessible to the masses. 
  %p Digital product design as a discipline is very new, but deeply rooted in design academia. We’ll look at the discipline from a different angle, and try to apply design thinking to the problem spaces you’re most concerned with.
  %p TLDR: How do you make something people will actually use?
  %a.section-link{:href => "https://docs.google.com/document/d/15YW0yzh1eddBb07nrbp3zTeRwlw-eW9z7ryuSWsdVxw"} Module Guide

  %h3 Network Development
  %div.profile-subtitle James Moulding
  %p The Network Development module is for people in communities who want to explore the potential of network strategies and thinking. The module is predicated on the approach that the most effective way to learn network strategies is by implementing them.
  %p Throughout our time together we will explore network development as building community, as developing the spatial awareness of social interactions, helping disparate and disconnected groups to get to know each other and collaborate in common purpose. 
  %p Together, we will work to understand the building blocks of networks and a key set of practices that will enable you to build community wherever you are.
  %a.section-link{:href => "https://docs.google.com/document/d/1AXdePd6iM7m6Jzmv91DHVF-GZ8jXY-B-Hei7KwLC0no"} Module Guide  

  %h3 Large Language Models In Practice
  %div.profile-subtitle Dan Kwiatkowski
  %p Two years on from the launch of ChatGPT, there's still a lot of noise surrounding the use of large language models, including some non-constructive hype and cynicism. This module will be a series of informal drop-in sessions which I hope will help fellows cut through misconceptions and build a strong mental model of what LLMs are and how to get the most out of them.
  %p For non-developers, we'll work on understanding how LLMs could be useful in their respective domains of expertise, and how to go about prototyping LLM-powered tools. For developers working on projects involving LLMs, we'll consider the tradeoffs of different technical approaches.
  %a.section-link{:href => "https://docs.google.com/document/d/1nQWylEHsUlxv_OWz4lP9S-KZRYNrkWrvbgVtnnNkGlg"} Module Guide

  %h3 Impact Engineering
  %div.profile-subtitle John Sandall
  %p Effort does not always lead to impact! To make a difference, you must align your technical expertise with the right stakeholders and outcomes. Most digital projects fail, not because of technical capability, but for example, they don’t solve the right problem, poor communications, or key stakeholders aren't incentivised to care about the project's success.
  %p This Impact Engineering module equips participants with the tools and methodologies to make a meaningful difference. The module combines technical mentoring on using data, AI, and coding as tools for civic impact, with taught content on ways of working to maximise your success.
  %a.section-link{:href => "https://docs.google.com/document/d/1wVhy5wLcfmjZftpM2fawZRB-E2-JPo7EUpvR7cPPXJQ"} Module Guide

%details
  %summary
    %h2 Tutoring
  %p Coming soon

%details
  %summary
    %h2 Pastoral Care
  %p Coming soon
