- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2.no-topping
  Introduction to Political Technology
  %br
  2025-2026
  %br
  Course Handbook
%p
  A one year course for anyone who believes that technology plays an important role in shaping society. Participants will have the opportunity to observe and experiment with real-world emerging practices in organising and governance.
  %br
  %br
  %a.section-link{:href => "/faculty", :target=> "_blank"} Faculty
  %br
  %br
  %a.section-link{:href => "https://docs.google.com/document/d/1GRuaSbbITKEZrIFBDQSNzmLlFx37meMj7BIQZVa-PL0", :target=> "_blank"} Fellowship Candidates 2024

%details
  %summary
    %h2 Induction
  %p Please register for the following events:
  %p
    <b>Welcome Dinner</b><br>
    Friday 19 September, 18:30-22:00<br>
    A chance for faculty and incoming students to socialise before the year begins.<br>
    %a{:href => "https://lu.ma/rlvmpjpw", :target=> "_blank"} Register ↗️
  %p
    <b>Orientation</b><br>
    Saturday 20 & Sunday 21 September, 09:00-19:00<br>
    An introduction to the course, covering the core modules.<br>
    %a{:href => "https://lu.ma/7xwmae1i", :target=> "_blank"} Register ↗️<br>
    %a{:href => "https://docs.google.com/document/d/13YT0YYYf70SWmB7jR29nZlXQmqWp2oh4p1qaUZBcZuM"} Agenda ↗️
  %p
    <b>Fellows' Dinner</b><br>
    Saturday 28 September, 20:00-02:00<br>
    The annual gathering of the fellowship. Matriculation of fellowship candidates from 2024 and graduation of fellows from 2023.<br>
    %a{:href => "https://lu.ma/m3ldnazq", :target=> "_blank"} Register ↗️

%details
  %summary
    %h2 Calendar
  %table
    %thead
      %tr
        %th 2024
        %th
    %tbody
      %tr
        %td 19 September
        %td Autumn Term Begins
      %tr
        %td 7 December
        %td Autumn Term Retro
      %tr
        %td 16 December
        %td Autumn Term Ends
    %thead
      %tr
        %th 2025
        %th
    %tbody
      %tr
        %td 13 January
        %td Spring Term Begins
      %tr
        %td 5 April
        %td Spring Term Retro
      %tr
        %td 12 April
        %td Spring Term Ends
      %tr
        %td 28 April
        %td Summer Term Begins
      %tr
        %td 26 July
        %td Summer Term Retro
      %tr
        %td 2 August
        %td Summer Term Ends
      %tr
        %td 20 September
        %td
          %a{:href => "https://lu.ma/m3ldnazq", :target=> "_blank"} Graduation

  %p Sessions will be organised via individual modules. In general, plenary sessions will be published in the Newspeak House events calendar, alongside public and community events.
  %a.section-link{:href => "webcal://newspeak.house/api/events.ics", :target=> "_blank"} Subscribe

%details
  %summary
    %h2 Tutoring
  %p Each fellowship candidate is assigned a member of the faculty as a tutor. Meetings with tutors should happen once a month and be an hour long. The responsibility of the tutor is to provide guidance and mentorship as the tutee navigates the intricacies of their time at Newspeak House. This is a demanding course, and these monthly check-ins provide an opportunity for personalised guidance and goal-setting, and help to ensure that any challenges are addressed early on.
  %a.section-link{:href => "https://docs.google.com/document/d/1XHWShjd-IoCapn2xq7lsF4EK1dG3lZT6Geq5juKrSJA", :target=> "_blank"} Tutoring Guide

%details
  %summary
    %h2 Pairwork
  %p All members of the cohort must do a pairwork session with every other member each month, lasting at least one hour. These must be in person, with exactly two people, no more or less. This time should be used to work together on a module of your choosing, core or advanced. Notes should be kept on what was achieved at each session.
  %a.section-link{:href => "https://docs.google.com/document/d/1BNZaR7dAnMY-UDV7mPmdm_agXp4zQVBEtmb5RPUMa-c", :target=> "_blank"} Pairwork Guide

%details
  %summary
    %h2 Library
  %p Newspeak House's official library is The Civic Tech Field Guide, the world’s largest collection of political technology projects. It's an open knowledge-base of over 10,000 projects using tech, data, and design for the public interest.
  %a.section-link{:href => "https://docs.google.com/document/d/1CTHv0pZAkddX_OFSFFtWzhwdx7sHTgRExNcicfs7-Kc", :target=> "_blank"} Library Guide

%details
  %summary
    %h2 Core Modules
  %p Core modules are mandatory activities that all students participate in throughout the year, and are taught in collaboration by the entire faculty.

  %h3 Governance
  %p Through managing a set of common pool resources, students have the chance to experiment with and experience different forms of governance, and develop original systems for decision-making, policy development, resource allocation, and conflict resolution.
  %a.section-link{:href => "https://docs.google.com/document/d/1CyYVuxR0cOZTWA8gEXsfswke0sYRMSEv6MtqJwa-Hm8", :target=> "_blank"} Module Guide

  %h3 Fieldwork
  %p Students will engage with a broad variety of emerging civic communities of practice and understanding how they work. Students will also familiarise themselves with the landscape of political technologies through exploring the library and undertaking a grantmaking exercise.
  %a.section-link{:href => "https://docs.google.com/document/d/1q5ckguIKdksMvnz2vbizs-QmPkME0PDWA4pWdxoaaTA", :target=> "_blank"} Module Guide

  %h3 Prototype
  %p The culmination of the year’s work as students produce an original contribution to the field of political technology, both to demonstrate their sophisticated understanding of the field and to have a lasting real world impact.
  %a.section-link{:href => "https://docs.google.com/document/d/1I5oUlTtOa6haidXTXQoDwbsa2PfJyOwSbVYC2Kf_KkQ", :target=> "_blank"} Module Guide

%details
  %summary
    %h2 Advanced Modules
  %p Advanced modules, led by a single faculty member, focus on more specific skills and understanding.

  %h3 Data Governance
  %div.profile-subtitle Anouk Ruhaak
  %p Wouldn't it be great if we could all derive value from our data? And, what if we would all benefit from the machines that use our data and content to learn?
  %a.section-link{:href => "https://docs.google.com/document/d/1WNPaAk-eazjmxdnDZUh8OpZ7SL0xRfhtkP5Y-t5lBpg", :target=> "_blank"} Module Guide

  %h3 Digital Protocols
  %div.profile-subtitle Theodore Keloglou
  %p Protocols of the digital world and their social and political impact.
  %a.section-link{:href => "https://docs.google.com/document/d/1oFS5ol4uHBRQRtaXA6T-TOdoNsg71oK8dEP1e3hU-LI", :target=> "_blank"} Module Guide

  %h3 Engineering Group Decisions
  %div.profile-subtitle Dr Joshua Becker
  %p There is no such thing as an independent individual: everything you do and know and think is shaped by other people.
  %p The overall framework for this module is one of management as engineering. The goal is to help you think like an engineer about designing team, organizational, and social processes.
  %a.section-link{:href => "https://docs.google.com/document/d/1-XKJKBLuy4n9FL3bOqbwil_DGBt1tAlh1mtAntJLrhQ", :target=> "_blank"} Module Guide

  %h3 Evidence and Impact
  %div.profile-subtitle Andreas Varotsis
  %p As part of your time at Newspeak, you’ll hopefully be aiming to build something(s) - be that a community, a product, a service, or some combination of the above - and that thing(s) will hopefully leave a positive impact on the world: it will work.  But how do we know what works? How can we design experiments and evaluations that let you meaningfully assess impact in an empirical robust way?
  %a.section-link{:href => "https://docs.google.com/document/d/1qwU0hkx4lfD_NU5VuI5oxIhhxwV0WIBXCDrmQc02CTA", :target=> "_blank"} Module Guide

  %h3 Future Crafting
  %div.profile-subtitle Dr Zarinah Agnew
  %p In this module, we tackle a range of tactics and strategies for societal transformation, including experimentation, prefiguration, envisioning, hyperstition, new hegemonies and sovereignties. This module centres on social technologies &amp; collective intelligence for diverse futurisms.
  %a.section-link{:href => "https://docs.google.com/document/d/1CFqca54QCt6gQXNI1P9TGWGrr7NI_T43fauQehz9-TE", :target=> "_blank"} Module Guide

  %h3 Game Design
  %div.profile-subtitle Sam Ballard
  %p Games are systems carefully designed to evoke specific emotions in their participants. Political regimes in the real world are in fact also such systems, albeit for different ends. What can the craft of game design teach us that is applicable to designing policy? In this module, you’ll learn some game design theory from the commercial games industry, and also get hands-on experience of making game-design decisions.
  %a.section-link{:href => "https://docs.google.com/document/d/1Ytind4dwaQ9ynBYOvO3ribIPWxvvwhIhn46n4ejdRuM", :target=> "_blank"} Module Guide

  %h3 Knowledge Production
  %div.profile-subtitle Matt Stempeck
  %p Knowledge creation is not an isolated or passive endeavour, but a collaborative process shaped by the interactions between individuals, communities, institutions, and their environments. Our approach recognizes that traditional, hierarchical models of knowledge production, where experts or institutions dictate knowledge flows, are insufficient to address the speed and complexity of contemporary challenges (or even reflect current realities).
  %p Instead, knowledge (co-)production emphasises collaboration across different sectors and perspectives, including "the people formerly known as the audience" (Jay Rosen), marginalised groups, and other non-academic actors to generate more inclusive, relevant, and socially robust understandings of the world. Consider frameworks like Participatory Action Research (PAR), which emphasises the active involvement of communities and stakeholders in research processes, and transdisciplinarity, where knowledge is produced across disciplinary and non-academic boundaries.
  %a.section-link{:href => "https://docs.google.com/document/d/1OvqkAAysKYoVI_aD7dr3HSUzbTpINoTkIr5LZEfksO0", :target=> "_blank"} Module Guide

  %h3 Leading Tech Projects
  %div.profile-subtitle Peyman Owladi
  %p Build and adapt useful things at lightning speed!
  %a.section-link{:href => "https://docs.google.com/document/d/1VWIjCx-vn6Q1j4PR_kfYvPhqCcVYvfFRHaaTR7bZoG8", :target=> "_blank"} Module Guide

  %h3 Network Development
  %div.profile-subtitle James Moulding
  %p The Network Development module is for people in communities who want to explore the potential of network strategies and thinking. The module is predicated on the approach that the most effective way to learn network strategies is by implementing them.
  %p Throughout our time together we will explore network development as building community, as developing the spatial awareness of social interactions, helping disparate and disconnected groups to get to know each other and collaborate in common purpose.
  %p Together, we will work to understand the building blocks of networks and a key set of practices that will enable you to build community wherever you are.
  %a.section-link{:href => "https://docs.google.com/document/d/1vV_H8H2WmxM5_R4o253Xvb7Li6kbLO-212ppZluYMvA", :target=> "_blank"} Module Guide

  %h3 Open Web Data
  %div.profile-subtitle Hoagy Davis-Digges
  %p Most web projects offer value to their users by offering a way to view and/or interact with some dataset. This information either has to be provided by users, which presents a cold start problem for many projects, or found in some standardised format so that it can be used…until recently!
  %a.section-link{:href => "https://docs.google.com/document/d/1PwxskePp8HRTtEZpbCarSK4Pc_p7xNpVElwcIuOazzs", :target=> "_blank"} Module Guide

  %h3 Political Organising
  %div.profile-subtitle Hannah O’Rourke
  %p As technology reshapes the political landscape, traditional wisdom in political strategy is being upended. This offers huge opportunities for campaigners and political institutions, but also challenges.
  %p In this module, you will learn about the current state of political campaigning and organising in the UK and explore how this is being changed by technology. It is designed to support students to develop and operationalise their own political strategies for the causes they care about.
  %p How can you make change actually happen? What pressure points can you target? This module will teach you how to navigate the realpolitik of the political system and how to make lasting systemic political change.
  %p Alongside this, students will learn about the theoretical cutting edge of technology in organising. How do you run a decentralised campaign effectively using the platforms available? What tools are best for organising your own campaigns?
  %p Basically… how do you get stuff done in politics?!
  %a.section-link{:href => "https://docs.google.com/document/d/17kqL23fXDMy8iKOdw3ApYvIAuZ04FIDLwN39hZ4yx_4", :target=> "_blank"} Module Guide

  %h3 Rethinking Chat
  %div.profile-subtitle John Evans
  %p How we communicate becomes how we organise. How we organise becomes how we live in the world. We prefigure the world we want to exist through our system of communication.
  %a.section-link{:href => "https://docs.google.com/document/d/1dbIvP_4ZJwTbRUluHmgHSmqiGQ61x_aFWFC54tUF4Q0", :target=> "_blank"} Module Guide

  %h3 Robust Software and Systems
  %div.profile-subtitle Lewis Westbury
  %p The internet is a hostile environment. Internet-facing applications face a constant stream of threats - ranging from casual scripted attacks through to sophisticated, targeted attacks. Asking users to trust you with their data is a big responsibility.
  %p In this module we’ll explore techniques for reasoning about this environment, and how to build software and systems that are reliable and protect user data.
  %a.section-link{:href => "https://docs.google.com/document/d/14-5U9GOqDe_yrjo2M618Nuu_RlY_hYPfYlZHYV6KjTY", :target=> "_blank"} Module Guide

  %h3 Service Design
  %div.profile-subtitle Sinead Doyle
  %p Service Design is a discipline that has emerged over the last thirty years, building on the foundation of User Centred Design. As we transition from a product economy to a service economy, the focus of design has shifted from the shaping of physical products, to the provision of experiences that meet a user's needs. We design end-to-end services, often through a mix of physical and digital channels, with support that extends before and after use or purchase of a product.
  %p A service is, quite simply, something that helps someone to do something. A user (or citizen) has a need: that need must be met by some combination of products and people, delivered as a series of steps over time. When we design a service, we are building the tooling that helps people get things done. Services are important: they allow people to access healthcare, travel, find jobs, get housing, manage money and achieve their goals. Good services save lives: bad services ruin lives. While Service Design has applications in all industries, it’s particularly vital in the public sector: service provision is the underlying purpose of government! As we digitise existing services, we have an opportunity to radically rethink policy and process, making people’s lives easier.
  %p In this module, we will look at how organisations meet the challenge of designing new services and iterating them. We’ll discuss the differences between product thinking and service thinking. We’ll talk about the toolkits, methodologies and artefacts that are used, and their strengths and weaknesses. There are many barriers: we’ll identify structural blockers, procurement hurdles, team shape issues and skills gaps. Finally, we’ll consider how service design needs to evolve to stay relevant in a changing world.
  %a.section-link{:href => "https://docs.google.com/document/d/1J9RCDTHmcNw4cHp10Ds7Vl34vaPClFjTgb0oepSJSAM", :target=> "_blank"} Module Guide

  %h3 Wargames & Challenge
  %div.profile-subtitle Alex Vince
  %p We are entering a new era of conflict, where it is becoming increasingly unclear who our adversaries are, the approaches they might take and the bounds of their abilities. Even in situations where there is no outrighti adversary, an increasingly polarised world requires a good understanding of what considerations others are making and the decisions they might take.
  %a.section-link{:href => "https://docs.google.com/document/d/1nqaT2A6-pzDJEIQyVzcYHsFUo0V4s52BpWu26TeO3f4", :target=> "_blank"} Module Guide

%details
  %summary
    %h2 Welfare
  %div.profile
    %div.profile-pic{:style => "background-image: url(#{image_path "mark.jpg"})"}
  %p
    %a{:href => "mailto:minister.mark.wainwright@gmail.com"} minister.mark.wainwright@gmail.com
    •
    %a{:href => "https://wa.me/447366965950", :target=> "_blank"} +44 7366 965 950 (WhatsApp)
  %p Mark is Newspeak House's non-denominational Chaplain, here to support the welfare of students and faculty alike, as well as other members of the community.
  %p Conversations with the chaplain are confidential, providing you with a safe space to discuss personal matters, problems with Newspeak House or with other community members, work matters, or your own spiritual journey and sense of what is truly important. You may be coming with a particular problem or question, or you may just want a friendly chat. Feel free to get in touch to arrange a non-judgemental, confidential call.

%details
  %summary
    %h2 Feedback
  %p Even in communities where everyone has the best of intentions, things can sometimes go wrong. As a young institution our culture & processes are changing all the time, and your feedback is taken very seriously.
  %p If you have ideas for how things could be better, or if you have witnessed something that you think is not right, please let us know. You can talk to the dean or any faculty member that you trust, or make a formal report through our feedback system:
  %a.section-link{:href => "https://newspeak.house/feedback", :target=> "_blank"} Feedback Form
