- content_for :page_title do
  Fellowship

%p.lead.space Fellowship

%p Newspeak House is now accepting applications for residential fellowships. Fellows live in Newspeak House, immersed in the community and developing a network of users, supporters and mentors.

%p <i>"For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on."</i> - <a href="https://twitter.com/rufuspollock">Rufus Pollock</a>, Founder of <a href="">Open Knowledge</a>, Fellow of Newspeak House

%p If you're interested in spending some time at Newspeak House, contact <a href="mailto:ed@nwspk.com?subject=Newspeak House Fellowships&body=So tell me more about these Fellowships...">ed@nwspk.com</a> to find out more.

%p.lead.space Current Fellows

%p <a href="https://twitter.com/rufuspollock">Rufus Pollock</a>, Founder of <a href="">Open Knowledge</a>

%p <a href="https://twitter.com/drinkrelaxplay">James Dance</a> & <a href="https://twitter.com/LJPullinger">Lucy Pullinger</a>, Co-Founders of <a href="http://loadingonline.co.uk/">Loading Bar</a>

%p <a href="https://twitter.com/joshr">Josh Russell</a>, Co-Founder of <a href="http://www.citizenbeta.org/">Citizen Beta</a>

%p <a href="https://twitter.com/jamesknight1603">James Knight</a>, Associate, <a href="https://twitter.com/Mosaic_VC">Mosaic Ventures</a>

%p <a href="mailto:jonnie@fourpks.com">Jonnie Penn</a>, Co-founder of <a href="http://fourpks.com/">Four Peaks Media Group</a> and <a href="http://theburiedlife.com/">The Buried Life</a>

%p <a href="https://twitter.com/Neilnanderson">Neil Anderson</a>

%p.lead.space Alumni

%p <a href="https://twitter.com/stephenfortune">Stephen Fortune</a>, intern <a href="https://twitter.com/ODILabs">@ODILabs</a>

%p <a href="https://twitter.com/WRMuirhead">Will Muirhead</a>, Neurosurgical Registrar at The Royal London Hospital



.single-line.breakout

.footer
  = link_to image_tag('mono.png'), root_path
