- content_for :page_title do
  Fellows and alumni

%h2 Newspeak House Fellowship
%p
  Fellows are individuals who have completed the Newspeak House
  %a{:href => "/residency"}> &ensp;residential programme
  \.

%ul.members-list
  - @alumni.each do |alumnus|
    = render partial: 'member', locals: { user: alumnus, links: true }
