- content_for :page_title do
  Fellows and alumni

%h2 Newspeak House Fellowship

%ul.members-list
  - @alumni.each do |alumnus|
    = render partial: 'member', locals: { user: alumnus, links: true }
