.page-header
  %h1 See Our Projects

%p Newspeak House is now accepting applications for fellowships.

%p Fellows live in Newspeak House for 6 months, immersed in their projects and developing a community of users, supporters and mentors.

%p Fellowships cost £5000, but enjoy a bursary dictated by the total membership contribution, which currently stands at £??? [see the calculation].

%p [Apply for fellowship]

%p
  What kind of projects are suitable?
  %br/
  1/ projects should be at MVP stage
  %br/
  2/ ?

%p [Fellowship showcase (eventually)]
