- content_for :page_title do
  Fellows and alumni

%h2 Newspeak House Fellowship
%p
  Those who successfully complete the
  %a{:href => "/residency"} residential programme
  become Fellows of Newspeak House. We now have over 80 fellows in our network and they can be found in significant positions across many prominent institutions. As fellows of the college, they have the right to attend college ceremonies access special fellowship activities.

%ul.members-list
  - @alumni.each do |alumnus|
    = render partial: 'member', locals: { user: alumnus, links: true }
