- content_for :page_title do
  Fellowship

%p.lead.space Fellowship

%p Newspeak House is now accepting applications for fellowships.

%p Fellows live in Newspeak House for six months, immersed in their projects and developing a community of users, supporters and mentors. Three fellowships begin every three months:

%ul
  %li Peace: 1 March - 31 August
  %li Truth: 1 June - 30 November
  %li Love: 1 September - 29 February
  %li Plenty: 1 December - 31 May

%p Fellowships cost £5000, but enjoy a bursary dictated by the total membership contribution.

-#, which currently stands at £??? [see the calculation].

%br/

.double-link
  = link_to 'Inspect Applications', "http://www.reddit.com/r/nwspk", class: "double-left"
  = link_to 'Apply for fellowship', "http://www.reddit.com/r/nwspk", class: "double-right"

-#%p
-#What kind of projects are suitable?
-#%br/
-#1/ projects should be at MVP stage
-#%br/
-#2/ ?

-#%p [Fellowship showcase (eventually)]

.single-line.breakout

.footer
  = link_to image_tag('mono.png'), root_path
