%section.house.center-block=image_tag('house.png')
%section.intro
  .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h4 Newspeak House is an events venue, community space and residential incubator in East London founded to foster innovation in politics, government and political media.
  %a.side-link{:href => ""} »
%section.flip
  .events.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Events
  %a.side-link{:href => ""} »
%section
  .members.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Recent Members
  %a.side-link{:href => ""} »
%section.flip
  .fellows.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Fellows
  %a.side-link{:href => ""} »
%section
  .contact.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    %h2 Newspeak House Contact Info
  %a.side-link{:href => ""} »
%section.flip 
  .quotes.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
    "Everyone in the UK who has any interest in tech mixed with politics, government, journalism or social change should spend time at Newspeak House ASAP" - Tom Steinberg, Founder of MySociety
  %a.side-link{:href => ""} »
%footer