- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

/ left side of the screen
.screen-side{:style => "background-color: #2e2e2e;"}

/ middle of the screen
.main
  .center-column
    .head-title
      = image_tag('book-logo-black-2.png')
      .head-text
        %h1 Newspeak House
        %h3 The London College of Political Technology

    .nav
      %a{:href => "/about.html"} about
      %a{:href => "/fellowship.html"} fellowship
      %a{:href => "/membership.html"} membership
      %a{:href => "/scholarships"} scolarships
      %a{:href => "/events.html"} events
      %a{:href => "/visit.html"} visit
    %p
      London College of Political Technologists

    %p
      %a{:href => "/about.html"} About
    %h2 News
    %p
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quo cupiditate iste labore fugiat beatae illum corporis incidunt exercitationem magni. Enim error, id at nam mollitia dolores odit nostrum animi.
    %h3 Apply for 2022-2023 Residency
    %p
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates sunt provident quisquam fugit minima, molestias minus cupiditate. Perspiciatis placeat minima repellat dolorem id eveniet sequi. Est quibusdam asperiores ab adipisci!
    %p
      %a{:href => "/fellowship.html"} Learn more about our Fellowship
    %h3 Retrospective
    %p
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsam nisi sunt unde deleniti alias voluptas. Accusamus dolore, ratione hic nisi veritatis nemo ut, in recusandae amet quo aliquam corrupti!
    %p
      %a{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfRSbucuNpg9_c0HlGPtKuQva4SVaGjY_-PhGtfgrGfF14g4g/viewform"} Submit feedback
    %h3 Membership
    %p
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit earum expedita quas! Eaque, eius maxime dignissimos, fugit deserunt voluptatibus hic et a quibusdam rem placeat unde iste! Eveniet, voluptas cum.
    %p
      %a{:href => "/membership.html"} Learn more about membership
    %h3 Scholarships
    %p lorem ipsum
    %p
      %a{:href => "/scholarships.html"} Learn more about our Scholarships
    %h3 Plan for the Future
    %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nihil impedit quae, in, laudantium blanditiis obcaecati iure at minus omnis autem atque quod, ipsam numquam cupiditate fugiat accusamus deserunt ratione.
    %h2 Events
    %p
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, nihil nemo. Fugit quia saepe eos vel natus necessitatibus laboriosam, in possimus, dicta eveniet minus atque neque excepturi culpa explicabo molestiae.
    %a{:href => "webcal://newspeak.house/api/events.ics"} Subscribe the to the events calendar
    %a{:href => "https://newspeak.house/events"} Propose an event
    %a{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"} Hire our space

    %h3 What's On
    .event
      .event-details
        June 15
        %br/
        7:00pm-10:00pm
        %br/
        Lounge / Terrace
      .event-title Ration Club
      .event-host Edward Saperia
      %p
        Communal meals at Newspeak House, run by volunteers from the community and open to members and non-members alike. A great chance to meet the fellows and get the latest tech  politics gossip.
      %p
        BYOB, suggested donation £5.
      %a{:href => ""} more information
    .event
      .event-details
        June 15
        %br/
        7:00pm-10:00pm
        %br/
        Lounge / Terrace
      .event-title Ration Club
      .event-host Edward Saperia
      %p
        Communal meals at Newspeak House, run by volunteers from the community and open to members and non-members alike. A great chance to meet the fellows and get the latest tech  politics gossip.
      %p
        BYOB, suggested donation £5.
      %a{:href => ""} more information

  .foot
    %a{:href => "/about.html"} about
    %a{:href => "/fellowship.html"} fellowship
    %a{:href => "/membership.html"} membership
    %a{:href => "/scholarships"} scolarships
    %a{:href => "/events.html"} events
    %a{:href => "/visit.html"} visit

/ right side of the screen
.screen-side
