- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

/ left side of the screen
.screen-side{:style => "background-color: #2e2e2e;"}

/ middle of the screen
.main
  .center-column
    .head-title
      %img{:src => "assets/book-logo-black.png"}
        .head-text
          %h1 Newspeak House
          %h3 The London College of Political Technology

    .nav
      %a{:href => "/about.html"} about
      %a{:href => "/fellowship.html"} fellowship
      %a{:href => "/membership.html"} membership
      %a{:href => "/scholarships"} scolarships
      %a{:href => "/events.html"} events
      %a{:href => "/visit.html"} visit
    %p
      Newspeak House is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK

    %p
      %a{:href => "/about.html"} About
    %h2 News
    %p
      We have survived the pandemic. It’s amazing to see you all again. However, we are not out of the woods yet. The last few years have been disastrous for community spaces. Many have closed their doors forever, and times are still tough. Please bear with us while we find our feet again. Our event programme may be a little sparse for a while, as communities that have been dormant wake themselves up. In the meantime, we have ambitious plans to further develop our work and impact:
    %h3 Apply for 2022-2023 Residency
    %p
      We are thrilled to announce a brand new one year part-time fully residential course designed to immerse socially-minded mid-career technologists in the knowledge and networks they need to become active agents in society. Expressions of interest for joining the next cohort are now open, and applying is quick and easy. In your time here you will have the opportunity to:
    %ul
      %li Gain a deep understanding of the discipline of political technology and explore its key communities of practice.
      %li Develop strong relationships with a close cohort of peers while living together in centrally located college accommodation.
      %li Learn from leading expert practitioners working in strategic positions across UK government and civil society.
      %li Through a range of lectures, seminars, and reading groups, fellows will learn about the theory behind how our social and political world changes.
      %li Create a political technology project with the guidance and mentorship of our faculty.
      %li Upon completing the course, you will be invited to join the Newspeak House fellowship, the start of a lifelong relationship with the institution and its networks.
    %p
      %a{:href => "/fellowship.html"} Learn more about our Fellowship
    %h3 Retrospective
    %p
      As we emerge from the pandemic, Newspeak House is looking to the future and how it can survive and thrive for many more years to come. A part of this is seeking constructive anonymous criticism from the communities it serves. We will do our best to take heed from any criticisms, wishes and visions that are shared here.
    %p
      We understand that it can feel hard to give direct feedback, but we really hope that you will, as we genuinely wish to learn, improve and adapt, especially as attitudes and affordances may have changed significantly over the pandemic. We hope to become aware of our blind spots, such that we will be more able to address them.
    %p
      %a{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfRSbucuNpg9_c0HlGPtKuQva4SVaGjY_-PhGtfgrGfF14g4g/viewform"} Submit feedback
    %h3 Membership
    %p If there was ever a time to join as a member, it is now.
    %p
      The London College of Political Technology has relied on support from our membership to get us to where we are today. Your monthly donation helps us to remain independent and to continue to nurture emerging communities of practice by providing space for them to organise. Member donations also help us to open up access to our fellowships to technologists from a diversity of backgrounds.
    %p
      If you are also interested in supporting the College on a longer term basis through an endowment or by sponsoring a fellowship place, please do get in touch.
    %p
      %a{:href => "/membership.html"} Learn more about membership
    %h3 Scholarships
    %p The pandemic was a big setback for us. Help us make our residency programme more accessible.
    %p
      %a{:href => "/scholarships.html"} Learn more about our Scholarships
    %h3 Plan for the Future
    %p We are building a federated network of residential colleges that serve as the creation, diversification of experimental spaces that have a shared culture of research, experimentation and collaboration. In 2023 we intend to launch two more campuses under the umbrella of The London College of Political Technology that will serve as autonomous sites of study and practice.
    %p The college aims to provide the tools for each campus to self educate, and conduct experiments on themselves that pertain to governance, economics, decision making  finances, such that these spaces are sites of social experimentation. The college provides an umbrella structure such that these learnings are shareable across locations.
    %p If you wish to be involved in this, please reach out.
    %h2 Events
    %p
      As part of our research we offer our spaces for civic communities of practice to convene. Since opening in 2015 we have hosted over a thousand events, including lectures, meetups, hackathons, conferences, unconferences, workshops, fundraisers, book launches, exhibitions.
    %p
      Subscribe to upcoming events, peruse our event archive, or hire our spaces.
    %a{:href => "webcal://newspeak.house/api/events.ics"} Subscribe the to the events calendar
    %a{:href => "https://newspeak.house/events"} Propose an event
    %a{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"} Hire our space

    %h3 What's On
    .event
      .event-details
        June 15
        %br/
        7:00pm-10:00pm
        %br/
        Lounge / Terrace
      .event-title Ration Club
      .event-host Edward Saperia
      %p
        Communal meals at Newspeak House, run by volunteers from the community and open to members and non-members alike. A great chance to meet the fellows and get the latest tech  politics gossip.
      %p
        BYOB, suggested donation £5.
      %a{:href => ""} more information
    .event
      .event-details
        June 15
        %br/
        7:00pm-10:00pm
        %br/
        Lounge / Terrace
      .event-title Ration Club
      .event-host Edward Saperia
      %p
        Communal meals at Newspeak House, run by volunteers from the community and open to members and non-members alike. A great chance to meet the fellows and get the latest tech  politics gossip.
      %p
        BYOB, suggested donation £5.
      %a{:href => ""} more information

  .foot
    %a{:href => "/about.html"} about
    %a{:href => "/fellowship.html"} fellowship
    %a{:href => "/membership.html"} membership
    %a{:href => "/scholarships"} scolarships
    %a{:href => "/events.html"} events
    %a{:href => "/visit.html"} visit

/ right side of the screen
.screen-side
