- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2 Hello World
%div.wide-pic{:style => "background-image: url(#{image_path "door.jpg"})"}
%p
  Newspeak House is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK.
%p
  %a.section-link{:href => "/about"} About

%h2 Events
= image_tag('Empty Space (front).jpg')
%p
  As part of our research we offer our spaces for civic communities of practice to convene. Since opening in 2015 we have hosted thousands of events, including lectures, meetups, hackathons, conferences, unconferences, workshops, roundtables, screenings, fundraisers, launches, and exhibitions.
%p
  %strong
    Subscribe to our calendar via
    %a{:href => "webcal://newspeak.house/api/events.ics"} iCal
    or
    %a{:href => "https://calendar.google.com/calendar/u/0/embed?src=e9qmehb3p5utecd493ucgjq37od2g5rv@import.calendar.google.com"} gCal
%p
  If you’d like to host an event in our space, you can
  %a{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"}> &nbsp;hire it outright
  , or if you’re convening a civic community of practice do get in touch (
  %a{:href => "mailto:contact@newspeak.house"}> contact@newspeak.house
  ) to see if it could fit into our programme.


%h3 What's On
%div.wide-pic{:style => "background-image: url(#{image_path "techforgood.jpg"})"}
.event
  %a.event-title{:href => "https://forms.gle/T3rXorsrb4gXKazv9"} Ration Club
  %br/
  %div.event-details Wednesdays • 7:00pm – 9:00pm • Lounge
  %br/
  %a.event-host{:href => "https://bit.ly/edsaperia"} Edward Saperia
  %p Each week the college hosts a community dinner called Ration Club. It's open to anyone who'd like to find out more about the college and its work. To find out more or if you'd like to attend, please register.
  %a.section-link{:href => "https://forms.gle/T3rXorsrb4gXKazv9"} Register ↗

- @events.each do |event|
  = render partial: 'events/row', locals: { event: event }

%p
  %a.section-link{:href => "/events"} Event Archive
