- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%p
  Newspeak House is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK.
%p
  %a.section-link{:href => "/about"} About

%h2 UK General Election
%p The election has been called! As has become a tradition at Newspeak House, we are excited to announce two things:

%h3 Election Tech Handbook
%p An crowdsourced open resource for technologists building things for the upcoming UK general election. If you’re building something, come and tell us about it! You’ll also find election results data, data on constituencies & postcodes, polling data, data about politicians and political donations, data about candidates, predictions, policy analysis tools, voter registration projects, leaflet archives, data on targeted political advertising, disinformation & misinformation related projects, political games and simulators, election data visualisation tools, events & communities, tactical voting tools, voter engagement projects, voter education projects, campaigning tools, demographic analysis, and much more!
%p
  %a.section-link{:href => "https://electiontechhandbook2024.uk"} electiontechhandbook2024.uk

%h3 Election Hackspace
%p An open hackspace for people building things for the upcoming UK general election, welcoming partisan and non-partisan projects alike. Whether you're an experienced developer, a seasoned election veteran, or a curious citizen looking to contribute your skills, our hackspace welcomes you! For details and opening times, see:
%p
  %a.section-link{:href => "https://electionhackspace2024.uk"} electionhackspace2024.uk

%h2 Events
= image_tag('Empty Space (front).jpg')
%p
  As part of our research we offer our spaces for civic communities of practice to convene. Since opening in 2015 we have hosted over a thousand events, including lectures, meetups, hackathons, conferences, unconferences, workshops, roundtables, screenings, fundraisers, launches, and exhibitions.
%p
  %a.section-link{:href => "webcal://newspeak.house/api/events.ics"} Subscribe to our Event Calendar
%p
  If you’d like to host an event in our space, you can
  %a{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"}> &nbsp;hire it outright
  , or if you’re convening a civic community of practice do get in touch (
  %a{:href => "mailto:contact@newspeak.house"}> contact@newspeak.house
  ) to see if it could fit into our programme.


%h3 What's On
%div.wide-pic{:style => "background-image: url(#{image_path "door.jpg"})"}
.event
  %a.event-title{:href => "https://lu.ma/RationClub"} Ration Club
  %br/
  %div.event-details Wednesdays • 7:00pm – 9:00pm • Lounge
  %br/
  %a.event-host{:href => "https://twitter.com/edsaperia"} Edward Saperia
  %p Each week the college hosts a community dinner called Ration Club. It's open to anyone who'd like to find out more about the college and its work. To find out more or if you'd like to attend, please register.
  %a.section-link{:href => "https://forms.gle/T3rXorsrb4gXKazv9"} Register ↗

- @events.each do |event|
  = render partial: 'events/row', locals: { event: event }

%p
  %a.section-link{:href => "/events"} Event Archive
