- content_for :pre_content do
  .jumbotron{style: 'margin-top: -20px'}
    .container
      %h1.text-center Top Office Machines
      %p.text-center Member's Club
      %p.text-center= link_to "Become a member", new_user_registration_path, class: 'btn btn-success btn-lg'

Hello world
