- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

/ left side of the screen
.screen-side{:style => "background-color: #2e2e2e;"}

/ middle of the screen
.main
  .center-column
    .head-title
      = image_tag('book-logo-black-2.png')
      .head-text
        %h1 Newspeak House
        %h3 The London College of Political Technology

    .nav
      %a{:href => "/index.html"} home
      %a{:href => "/about.html"} about
      %a{:href => "/fellowship.html"} fellowship
      %a{:href => "/membership.html"} membership
      %a{:href => "/scholarships"} scholarships
      %a{:href => "/events.html"} events
      %a{:href => "/visit.html"} visit
    %p
      %a.inline-link{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} 133-135 Bethnal Green Road
      •
      %a.inline-link{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
      •
      %a.inline-link{:href => "https://twitter.com/nwspk"} @nwspk
    %p
      Newspeak House is an independent residential college founded in 2015 to study, nurture and inspire emerging communities of practice across civil society and the public sector in the UK
    %p
      %a{:href => "/about.html"} About
    %h2 News
    %p
      We have survived the pandemic. It’s amazing to see you all again. However, we are not out of the woods yet. The last few years have been disastrous for community spaces. Many have closed their doors forever, and times are still tough. Please bear with us while we find our feet again. Our event programme may be a little sparse for a while, as communities that have been dormant wake themselves up. In the meantime, we have been making ambitious plans:
    %h3 2022-2023 Residential Programme
    %p
      We are now seeking candidates for the next cohort of our residential programme. It is designed to support mid-career technologists gain a deep understanding of the landscape of political, civic, non-profit and public sector organisations in the UK, in order to found groundbreaking new projects or seek strategic positions in key institutions. Expressions of interest are now open, and applying is quick and easy.
    %p
      In your time here you will have the opportunity to:
    %ul
      %li Learn from leading expert practitioners working in senior positions across UK institutions
      %li Immerse yourself in a wide variety of emerging civic communities of practice
      %li Develop strong relationships with a close cohort of peers while living together in centrally located college accommodation
      %li Learn the theory behind how our social and political world changes through a range of lectures, seminars, and reading groups
      %li Work on your own projects with the guidance and mentorship of our faculty
      %li Upon completing the course, you will be invited to join the Newspeak House fellowship, the start of a lifelong relationship with the institution and its networks
    %p
      %a{:href => "/fellowship.html"} More about Residency
      
    %h3 New faculty members
    %p
      We are delighted to welcome two new members of our faculty:      
    %h4 Dr Zarinah Agnew
    = image_tag('Zarinah.png')
    %p
      %a.inline-link{:href => "http://www.zarinahagnew.com"} zarinahagnew.com
      •
      %a.inline-link{:href => "https://twitter.com/zarinahagnew"} @zarinahagnew
    %p
      Zarinah is a neuroscientist by training. After spending over a decade in academia, they left to study the science of groups of brains - that is, humans in collectivity.
    %p
      Alongside their work with the college, Zarinah runs three nonprofits aimed at experimental aspects of society, collective transformation and para-institutions. The  
      %a.inline-link{:href => "https://www.socialobservatory.space"} Social Science Observatory
      is dedicated to the study of social science in the wild, 
      %a.inline-link{:href => "https://www.alternativejustices.com/"} Alternative Justices
      works towards abolitionist community-based harm prevention and response, and 
      %a.inline-link{:href => "https://www.districtcommons.org/"} District Commons
      engineers experimental spaces where humans can ‘be otherwise’. Together, these strands allow both the prefiguration of new social configurations, as well as the study of their transformational potential.
    %h4 Stephanie Sherman
    = image_tag('Stephanie.png')
    %p
      %a.inline-link{:href => "https://stephaniesherman.info"} stephaniesherman.info
      •
      %a.inline-link{:href => "https://twitter.com/detectiveyes"} @detectiveyes
    %p
      Stephanie is a design director, strategist, writer, and producer working across urbanism, technology, and culture.
    %p
      Her work reprograms outmoded systems as collaborative platforms, leveraging surplus, storytelling, and speculation towards strategic transitions and social technologies. She has co-founded three non-profits, collaborated with and consulted for tech companies, city governments, research groups, and civil society organisations, and produced thousands of large-scale public events and experiences across social, speculative, systems and spatial design.
    %h3 Retrospective
    %p
      As we emerge from the pandemic, Newspeak House is looking to the future and how it can survive and thrive for many more years to come. A part of this is seeking constructive criticism from the communities it serves.
    %p
      We understand that it can feel hard to give direct feedback, even anonymously, but we really hope that you will, as we genuinely wish to learn and improve, as well as adapt to a world that has changed significantly. We will do our best to take heed from any criticisms, wishes and visions that are shared with us.
    %p
      %a{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfRSbucuNpg9_c0HlGPtKuQva4SVaGjY_-PhGtfgrGfF14g4g/viewform"} Give us your feedback
    %h3 Membership
    %p
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit earum expedita quas! Eaque, eius maxime dignissimos, fugit deserunt voluptatibus hic et a quibusdam rem placeat unde iste! Eveniet, voluptas cum.
    %p
      %a{:href => "/membership.html"} Learn more about membership
    %h3 Scholarships
    %p lorem ipsum
    %p
      %a{:href => "/scholarships.html"} Learn more about our Scholarships
    %h3 Plan for the Future
    %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nihil impedit quae, in, laudantium blanditiis obcaecati iure at minus omnis autem atque quod, ipsam numquam cupiditate fugiat accusamus deserunt ratione.
    %h2 Events
    %p
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, nihil nemo. Fugit quia saepe eos vel natus necessitatibus laboriosam, in possimus, dicta eveniet minus atque neque excepturi culpa explicabo molestiae.
    %a{:href => "webcal://newspeak.house/api/events.ics"} Subscribe the to the events calendar
    %a{:href => "https://newspeak.house/events"} Propose an event
    %a{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"} Hire our space

    %h3 What's On
    .event
      .event-details
        June 15
        %br/
        7:00pm-10:00pm
        %br/
        Lounge / Terrace
      .event-title Ration Club
      .event-host Edward Saperia
      %p
        Communal meals at Newspeak House, run by volunteers from the community and open to members and non-members alike. A great chance to meet the fellows and get the latest tech  politics gossip.
      %p
        BYOB, suggested donation £5.
      %a{:href => ""} more information
    .event
      .event-details
        June 15
        %br/
        7:00pm-10:00pm
        %br/
        Lounge / Terrace
      .event-title Ration Club
      .event-host Edward Saperia
      %p
        Communal meals at Newspeak House, run by volunteers from the community and open to members and non-members alike. A great chance to meet the fellows and get the latest tech  politics gossip.
      %p
        BYOB, suggested donation £5.
      %a{:href => ""} more information

  .foot
    %a{:href => "/about.html"} about
    %a{:href => "/fellowship.html"} fellowship
    %a{:href => "/membership.html"} membership
    %a{:href => "/scholarships"} scolarships
    %a{:href => "/events.html"} events
    %a{:href => "/visit.html"} visit

/ right side of the screen
.screen-side
