<h2>Political Tech Jobs</h2>
<p>We share open jobs from the Newspeak community to help people find their next role. Browse open positions or share a role you're hiring for.</p>

<p>UK-based jobs:</p>
<p><iframe class="airtable-embed" src="https://airtable.com/embed/appYHxsLYleU2RVYk/shr0KFkYr8SDsATos?layout=card&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe></p>

<p>To see a global list of jobs, <a href="https://civictech.guide/jobs">check out the Civic Tech Field Guide's Jobs page</a>. You can also browse <a href="https://directory.civictech.guide/listing-category/job-boards">nearly 50 tech for good jobs boards</a>.</p>

<h2>Share a job</h2>
<p>Are you hiring or helping someone who is? Share a job with the Newspeak community:</p>

<p><div style="width:100%;height:500px;" data-fillout-id="3pTxENYK5sus" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script></p>
