.page-header
  %h1 Become a Member

%h2 Why become a member?

%ul
  %li Financially support the incubation of society-changing projects. [see our projects /fellowship]
  %li Have a say in which projects receive incubation. [fellowship applications www.reddit.com/r/nwspk]
  %li Get access to a space in East London dedicated to fixing society. [event programme /calendar]

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Tier
      %th Price / yr
      %th Contribution
  %tfoot
    %tr
      %th One off joining fee:
      %td £50
  %tbody
    %tr
      %td Unperson
      %td £300
      %td 10% goes directly to projects
    %tr
      %td Proletariat
      %td £600
      %td 20% goes directly to projects
    %tr
      %td Outer Party
      %td £900
      %td 30% goes directly to projects
    %tr
      %td Inner Party
      %td £1200
      %td 40% goes directly to projects
    %tr
      %td Thought Police
      %td £1500
      %td 50% goes directly to projects

%p Maven discount: for each member you connect to on Twitter or Facebook, your membership is instantly discounted by £1 / yr.
