- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/
  
%h2 Residential Programme

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "rufus.jpg"})"}
  %div.profile-text
    %p
      “For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on”
      %br/
      %a.inline-link{:href => "https://rufuspollock.com/"}> &nbsp;Dr Rufus Pollock
      , Founder & President, Open Knowledge, Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "lisa.png"})"}
  %div.profile-text
    %p
      “A residency at Newspeak House is a unique opportunity to connect with communities and ideas from across domains of politics, technology and social science”
      %br/
      %a.inline-link{:href => "https://www.linkedin.com/in/lisa-murphy-982bb1b9"}> &nbsp;Dr Lisa Murphy
      , Senior Policy Manager, NHSX Centre for Improving Data Collaboration, Fellow of Newspeak House

%p
  Newspeak House is a hub for communities working to change society with technology, spanning all kinds of civic institutions, from government, politics, activism, charities, journalism, thinktanks, NGOs, philanthropy, to academia.
%p
  At the heart of Newspeak House is its residential programme, running since 2015. Seven residents spend a year immersed in these communities, enjoying the chance to meet thousands of people and attend events held on their doorstep.
%p
  It is designed to support mid-career technologists gain a holistic understanding of the civic landscape in the UK, in order to found groundbreaking new projects or seek strategic positions in key institutions. It’s ideal for people looking to grow their network and spend time reflecting deeply on how they can best have impact on the world.
%p
  Residents should plan to spend at least sixteen hours a week focused on the course. This will be a mix of events, seminars, and self-study. The first half of the year will be focused on group exercises and getting an overview of the field, and the second half on developing your individual projects.
%p
  A principal benefit of residency is the opportunity to engage with the collegiate environment and activities happening on campus, and so while we recognise that some travel is unavoidable, residents should plan to spend the majority of term time living in college accommodation.
  
%h3 Key Dates
%table{:border => "0",:padding => "0px 10px 0px 0px"}
  %tr
    %td 2022
    %td
  %tr
    %td July
    %td Interviews
  %tr
    %td August
    %td Offers made
  %tr
    %td Mid-Late September
    %td New residents move in
  %tr
    %td Start October
    %td Autumn Term Starts
  %tr
    %td Early December
    %td Autumn Term Ends
  %tr
    %td 2023
    %td
  %tr
    %td Early January
    %td Spring Term Starts
  %tr
    %td Late March
    %td Spring Term Ends
  %tr
    %td Mid April
    %td Summer Term Starts
  %tr
    %td Mid July
    %td Summer Term Ends
  %tr
    %td End July
    %td Graduation
