- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/
  
%h2 Residential Programme

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "rufus.jpg"})"}
  %div.profile-text
    %p
      “For better or for worse, technology shapes society, but we can - and must - influence the path it takes. Newspeak House is the place to tackle this head on”
      %br/
      %a.inline-link{:href => "https://rufuspollock.com/"}> &nbsp;Dr Rufus Pollock
      , Founder & President, Open Knowledge, Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "lisa.png"})"}
  %div.profile-text
    %p
      “A residency at Newspeak House is a unique opportunity to connect with communities and ideas from across domains of politics, technology and social science”
      %br/
      %a.inline-link{:href => "https://www.linkedin.com/in/lisa-murphy-982bb1b9"}> &nbsp;Dr Lisa Murphy
      , Senior Policy Manager, NHSX Centre for Improving Data Collaboration, Fellow of Newspeak House

%p
  Newspeak House is a hub for communities working to change society with technology, spanning all kinds of civic institutions, from government, politics, activism, charities, journalism, thinktanks, NGOs, philanthropy, to academia.
%p
  At the heart of Newspeak House is its residential programme, running since 2015. Seven residents spend a year immersed in these communities, enjoying the chance to meet thousands of people and attend events held on their doorstep.
%p
  It is designed to support mid-career technologists gain a holistic understanding of the civic landscape in the UK, in order to found groundbreaking new projects or seek strategic positions in key institutions. It’s ideal for people looking to grow their network and spend time reflecting deeply on how they can best have impact on the world.
%p
  Residents should plan to spend at least sixteen hours a week focused on the course. This will be a mix of events, seminars, pair work, and self-study. The first half of the year will be focused on group exercises and getting an overview of the field, and the second half on developing your individual projects.
%p
  A principal benefit of residency is the opportunity to engage with the collegiate environment and activities happening on campus, and so while we recognise that some travel is unavoidable, residents should plan to spend the majority of term time living in college accommodation.
  
%h3 Key Dates
%table{:border => "0",:padding => "0px 10px 0px 0px"}
  %tr
    %td 2022
    %td
  %tr
    %td July
    %td Interviews
  %tr
    %td August
    %td Offers made
  %tr
    %td September
    %td New residents move in
  %tr
    %td Start October
    %td Autumn Term Starts
  %tr
    %td Early December
    %td Autumn Term Ends
  %tr
    %td
    %td
  %tr
    %td 2023
    %td
  %tr
    %td Early January
    %td Spring Term Starts
  %tr
    %td Late March
    %td Spring Term Ends
  %tr
    %td Mid April
    %td Summer Term Starts
  %tr
    %td Mid July
    %td Summer Term Ends
  %tr
    %td End July
    %td Graduation
  
%h3 Fees
%p
  The course fee is £2400, payable in two installments; upon acceptance of your offer, and at the start of your residency.
%p
  Living in college accommodation is a mandatory part of the residency, and costs £900 per calendar month, payable from October 2022 until August 2023 inclusive.
%p
  Thanks to generous gifts from fellows and community members, there are some full and partial scholarships available. Please indicate in your application if your participation is contingent on a scholarship.

%h3 How to Apply
%p
  There is a short application form, primarily serving to give us an idea of what your interests are, and to start a conversation with us as to whether a residency might be the right thing for you. We encourage you to submit your application even if you're not sure if you want to take the course, or if you feel you don't have time to complete the form to your satisfaction.
%p
  %a{:href => "https://forms.gle/M98A5nBcweRGSnJEA"} Application Form
%p
  Applicants will be invited to attend an interview, either at the college or remotely. During the interview we will look for:
  %ul
    %li Activism: There are wrongs in the world that you want to set right, and you feel a personal responsibility for taking action. This has affected your career decisions, or you have some track record of volunteering or organising.
    %li Openness: You worry about whether your work has impact. You don't currently have a single project that you're deeply focused on, and are open to meeting and learning from people who may not obviously possess knowledge you're looking for.
    %li Technical: You've shipped projects with real users. You're not afraid of getting your hands dirty and building things, or have experience directly managing other people who do. This does not necessarily mean that you're a software developer - after all we are in the midst of a no-code revolution - but you're not put off by the idea that you might be spending time learning how to make something.
    %li Connectedness: You have some kind of online presence. You take part in distributed communities. You have a smartphone. You respond to attempts to communicate with you in a timely manner.
    %li Gregariousness: You are ready and able to live and work in a communal setting. You enjoy meeting new people. You go to meetups for fun, perhaps you have organised one.
    %li Diplomacy: You are able to engage tactfully with different cultures.
    %li Diversity: You bring with you a network that's not yet well represented at Newspeak House. 
%p
  If you have any questions about the course or the application process, don't hesitate to reach out via
  %a.inline-link{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
  or
  %a.inline-link{:href => "https://twitter.com/nwspk"}> &ensp;@nwspk
  , there are no stupid questions and it will not affect your application.
  
%h3 Pastoral Care
%p
  Our physical space has its own security measures. Newspeak House employs a chaplain and retains a pastoral board who are there to care for the wellbeing of residents.
%p
  During the first month of residency we will host a series of cultural onboarding sessions designed to help create a culture of care and mutual support, as well as harm prevention and response.
%p
  If you would like to know more about our pastoral provisions, please contact [pastoral email goes here]
