- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/
  
%h2.fellowship Current Cohort

- @fellows.each do |fellow|
  = render partial: 'member', locals: { user: fellow, links: true }
