- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

%p Jo Kerr: scholarships are great

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "jo.jpg"})"}
  %div.profile-text
    %p
      “Jo's quote goes here!”
      %br/
      %a.inline-link{:href => "https://twitter.com/jokerrconsults"}> &nbsp;Jo Kerr
      , Director of Impact & Innovation, Turn2us, national charity tackling financial insecurity

%h2 Scholarships
%p
  Students are now faced with higher living costs than ever before, and our bursary fund was obliterated by the pandemic. This prevents deserving candidates from applying to the course, or being able to focus on their studies. We’re absolutely awed that some community members have generously stepped forwards to offer scholarships, the first we’ve ever had.
%p
  Newspeak House is still a young, scrappy institution, and it’s a great honour for our work to be recognised in this way. We know that these scholarships will be life-changing to the recipients, and that they will go on to have great impact in their future work.

%h3 Antics Scholar
%p Antics is a scholarship offered to designers, engineers, infosec professionals and product folks in their early careers. The scholarship aims to help support those working in these fields to deploy their skills in the civic sector.
  
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "shad.png"})"}
  %div.profile-text
    %p
      “hi I'm shad”
      %br/
      %a.inline-link{:href => "https://twitter.com/systemantix"}> &nbsp;Shad Jahangir
      , Newspeak House Fellow, Season Two

%h3 ___ Scholar
%p
  We can't announce this scholarship yet, but it's coming soon.
  
%h2 Provide a Scholarship
%p
  The college welcomes and depends on the generous support of a wide range of individuals. Your support will help us realise our ambition that financial position will prove no barrier to any talented student who wants to attend. By supporting our scholars, you will improve the lives of passionate, talented political technologists – as well as the lives of the beneficiaries of their work, today and in the future.
%p
  You can choose to give a donation to the general scholarship fund or you can select an individual to sponsor. If you choose to sponsor a specific student, you will receive regular updates on their progress and be invited to meet them at key points in their studies. Many donors enjoy seeing the progress of individual students and gain much insight into the difference their donation has made to a person’s life here at Newspeak House.
%p
  Please get in touch to discuss further:
  %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
