- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

-# %div.profile
-#   %div.profile-pic{:style => "background-image: url(#{image_path "jo.jpg"})"}
-#   %div.profile-text
-#     %p.quote
-#       “Jo's quote goes here!”
-#     %p
-#       %a{:href => "https://twitter.com/jokerrconsults"}> Jo Kerr
-#     %p
-#       Director of Impact & Innovation, Turn2us
-#       %br/
-#       Fellow of Newspeak House

%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "stephen.jpg"})"}
  %div.profile-text
    %p.quote
      “Staying at Newspeak House is great - there are always amazing people, having amazing conversations, all committed to solving social issues.”
    %p
      %a{:href => "https://www.linkedin.com/in/stephenbediako/"}> Stephen Bediako OBE
    %p
      Co-Founder of The Social Innovation Partnership, Co-Founder of Turning Basin Labs
      %br/
      Fellow of Newspeak House
      

%h2 Scholarships
%p
  Students are now faced with higher living costs than ever before, and our bursary fund was obliterated by the pandemic. This prevents deserving candidates from applying to the course, or being able to focus on their studies. We’re absolutely awed that some community members have generously stepped forwards to offer scholarships, the first we’ve ever had.
%p
  Newspeak House is still a young, scrappy institution, and it’s a great honour for our work to be recognised in this way. We know that these scholarships will be life-changing to the recipients, and that they will go on to have great impact in their future work.


%h3 Antics Scholar
%p Antics is a scholarship offered to designers, engineers, infosec professionals and product folks in their early careers. The scholarship aims to help support those working in these fields to deploy their skills in the civic sector.
%div.profile
  %div.profile-pic{:style => "background-image: url(#{image_path "shad.png"})"}
  %div.profile-text
    %p.quote
      “Newspeak House is an educational institution with a spirit unlike any other, I’ve met incredible people here and am eager to see what the next wave of students will do.”
    %p
      %a{:href => "https://twitter.com/systemantix"}> Shad Gibran
    %p
      Season Two Newspeak House Fellow


%h3 Intersticial Scholar
%div.wide-pic{:style => "background-image: url(#{image_path "intersticia-logo.png"})"}
%p
  %a{:href => "https://intersticia.org/"} Intersticia UK
  is a foundation established to develop and support emerging leaders for the Twenty First Century. The Intersticia Scholarship is awarded to a student undertaking the residential programme at Newspeak House who needs financial assistance in order to do so.

%h3 TBA Scholar
%p
  Other scholarships to be announced very soon!
  
%h2 Endow a Scholarship
%p
  The college welcomes and depends on the generous support of a wide range of individuals. Your support will help us realise our ambition that financial position will prove no barrier to any talented student who wants to attend. By supporting our scholars, you will improve the lives of passionate, talented political technologists – as well as the lives of the beneficiaries of their work, today and in the future.
%p
  You can choose to give a donation to the general scholarship fund or you can select an individual to sponsor. If you choose to sponsor a specific student, you will receive regular updates on their progress and be invited to meet them at key points in their studies. Many donors enjoy seeing the progress of individual students and gain much insight into the difference their donation has made to a person’s life here at Newspeak House.
%p
  Please get in touch to discuss further:
  %a{:href => "mailto:ed@newspeak.house"} ed@newspeak.house
