- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technology'}/
  %meta{property: 'og:image', content: asset_url('book-logo-black-2-sq.jpg')}/

%h2 Study With Us

%div.wide-pic{:style => "background-image: url(#{image_path "psephology.jpg"})"}

%p
  Newspeak House is a hub for communities working to change society with technology, spanning all kinds of civic institutions, including government, politics, activism, charities, journalism, think-tanks, NGOs, philanthropy, and academia.
%p
  At the heart of Newspeak House is its one-year course, 
  %strong
    Introduction to Political Technology
  \, running since 2015. Participants spend a year immersed in these communities enjoying the opportunity to meet thousands of people and participate in a wide range of in-person events at Newspeak House and elsewhere.
%p
  The programme is designed to support mid-career technologists develop a holistic understanding of the civic landscape in the UK, in order to found groundbreaking new projects or seek strategic positions in key institutions. It’s ideal for people who have been working professionally for several years and are now looking to grow their network and spend time reflecting deeply on how they can best have impact on the world.
%p
  Participants will:
%ul
  %li Be immersed in a wide variety of emerging civic communities of practice
  %li Engage with expert practitioners working in senior positions across UK institutions
  %li Develop strong relationships with a close cohort of peers
  %li Work on their own projects with the guidance and mentorship of our faculty
%p
  Participants should plan to spend at least sixteen hours a week focused on the course itself. This will be a mix of discussions, pair work, self-study, attending events, and connecting and collaborating with other participants, fellows, members, organisers, and the growing communities working on political technology. The course activities are designed to fit around a job, particularly if remote or flexible.
%p
  Course content is re-written each year to reflect the dynamic nature of the field and the needs of the particular cohort, but broadly the first half of the year is focused on group exercises and getting an overview of the field, and the second half on developing your individual projects. Upon successful completion of the course, you will be invited to join the 
  %a{:href => "/fellowship"} Newspeak House fellowship
  \, the start of a lifelong relationship with the institution and its networks.
