- content_for :extra_tags do
  %meta{property: 'og:title', content: 'Newspeak House'}/
  %meta{property: 'og:description', content: 'The London College of Political Technologists'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

/ left side of the screen
.screen-side{:style => "background-color: #2e2e2e;"}

/ middle of the screen
.main
  .center-column
    .head-title
      = image_tag('book-logo-black-2.png')
      .head-text
        %h1 Newspeak House
        %h3 The London College of Political Technology

    .nav
      %a{:href => "/index.html"} home
      %a{:href => "/about.html"} about
      %a{:href => "/fellowship.html"} fellowship
      %a{:href => "/membership.html"} membership
      %a{:href => "/scholarships"} scholarships
      %a{:href => "/events.html"} events
      %a{:href => "/visit.html"} visit

    %p
      %a.inline-link{:href => "https://goo.gl/maps/Z8Sa4T6sb3n"} 133-135 Bethnal Green Road
      •
      %a.inline-link{:href => "mailto:contact@newspeak.house"} contact@newspeak.house
      •
      %a.inline-link{:href => "https://twitter.com/nwspk"} @nwspk

    %h2 Your Visit
    %p
      Our Newspeak House campus is located in London at the intersection of Brick Lane and Bethnal Green Road. The nearest underground station is Shoreditch High Street. The full address is:
    %p
      Newspeak House
      %br/
      133-135 Bethnal Green Road
      %br/
      London, England
      %br/
      E2 7DG

    %h3 Accessibility
    %p
      Newspeak Hall on the ground floor is wheelchair accessible without steps. Please let us know if you need a ramp. It has an accessible bathroom with extra support.
    %p
      The Lounge, Drawing Room, and Terrace are accessed by two flights of stairs with rails.
    %p
      The space is not scent free, and both cats and dogs may be present.
    %p
      We are always looking to improve, so if there are any accessibility needs that you think we could accommodate but don’t currently, please let us know
      %a.inline-link{:href => "mailto:contact@newspeak.house"} contact@newspeak.house

    %h3 Parking
    %p
      Bethnal Green Road has on-street paid parking:
    %table{:border => "0",:padding => "0px 10px 0px 0px"}
      %tr
        %td Mon-Fri
        %td 08:30 - 17:30
      %tr
        %td Saturday
        %td Free all day
      %tr
        %td Sunday
        %td 08:30 - 14:30
    %p
      Max stay 4 hours, no return within 2 hours. Pay via 
      %a.inline-link{:href => "https://ringgo.co.uk"} ringgo.co.uk
      or phone 0203 046 0010 and quote location number 60221 (Bethnal Green Road).
      
    %h3 Safety & Security
    %p
      Newspeak House is committed to creating a space for dialog and a diversity of perspectives. To this end, we aim to curate a culture of tolerance, respect, understanding of diverse lived experiences, and accountability.
    %p
      This is not a “safe space”, in that we cannot guarantee emotional nor physical safety, however we are committed to creating a culture centered around harm prevention, and to this being an accountable & supportive space. 
    %h4 Our Culture
    %p
      Visitors, residents and staff are all responsible for our behaviour and actions within the space. We are accountable for how we speak or act and should consider at all times how those actions might be affecting other people around us. People’s boundaries, backgrounds and beliefs are all different. What safety looks and feels like is entirely unique to every individual. Please treat everyone with respect and as equals.
    %p  
      We ask people to focus their commentary and critique on systems and not individuals, where possible. Homophobic, sexist, racist, or transphobic language or any discriminatory remarks, attitudes or behaviour will not be tolerated in this space, nor will physical violence. If you hear of such discriminatory remarks, attitudes or behaviour taking place in this space, we ask you to let us know, so that we can communicate directly with the person in question.
    %p
      We will not necessarily ask people to leave this space based on such views, however we will ask them to educate themselves on this topic, to understand how they are impacting others around them.
    %h4 Support
    %p
      If you need immediate support or assistance during an event please find any member of staff. If you would like to raise any issues or concerns, before or after an event then please email us: [email goes here]
    %h4 Futures
    %p
      We are actively looking to develop our culture & processes around these issues, and currently have a
      %a.inline-link{:href => "https://docs.google.com/forms/d/e/1FAIpQLSfRSbucuNpg9_c0HlGPtKuQva4SVaGjY_-PhGtfgrGfF14g4g/viewform"} feedback survey
      circulating. Once we have responses from the community we will be building more structure around forging a culture of self driven accountability. 

  .foot
    %a{:href => "/about.html"} about
    %a{:href => "/fellowship.html"} fellowship
    %a{:href => "/membership.html"} membership
    %a{:href => "/scholarships"} scholarships
    %a{:href => "/events.html"} events
    %a{:href => "/visit.html"} visit

/ right side of the screen
.screen-side
