- content_for :page_title do
  Events

- content_for :extra_tags do
  - unless @selected_event.nil?
    %meta{property: 'og:url', content: events_url(anchor: "event-#{@selected_event.id}", id: @selected_event.id)}/
    %meta{property: 'og:title', content: @selected_event.name}/
    %meta{property: 'og:description', content: @selected_event.short_description}/
  - else
    %meta{property: 'og:title', content: 'Events at Newspeak House'}/
    %meta{property: 'og:description', content: 'Upcoming Events at Newspeak House'}/
  %meta{property: 'og:image', content: asset_url('newlogo.png')}/

%h2 Events
%p
  As part of our research we offer our spaces for civic communities of practice to convene. Since opening in 2015 we have hosted over a thousand events, including lectures, meetups, hackathons, conferences, unconferences, workshops, roundtables, screenings, fundraisers, launches, and exhibitions.
%p  
  = image_tag('Empty Space (front).jpg')
%p
  To keep up with the event programme you can 
  %a.inline-link{:href => "webcal://newspeak.house/api/events.ics"}> &nbsp;subscribe to our event calendar
  \. If you’d like to host an event in our space, you can
  %a.inline-link{:href => "https://www.appearhere.co.uk/spaces/london/shoreditch/shoreditch-large-retail-space"}> &nbsp;hire it outright
  , or if you’re convening a civic community of practice do get in touch (
  %a.inline-link{:href => "mailto:contact@newspeak.house"}> contact@newspeak.house
  ) to see if it could fit into our programme.

- if @events.empty?
  .archive-empty Nothing at the moment!
- else
  - @events.each do |event|
    = render partial: 'row', locals: { event: event }

.archive-area

  %h2 Event archive

  #archive
    - @past_events.each do |event|
      = render partial: 'row', locals: { event: event }
