%body{:style => "font: 14px/18px monospace; background: #fff; color: #000"}
  %table#templateColumns{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
    %tr
      -if @twitter_photo
        %td.templateColumnContainer{:align => "center", :valign => "top", :width => "50%"}
          %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%"}
            %tr
              %td.leftColumnContent
                %img.columnImage{:src => @twitter_photo, :style => "max-width:280px;", :width => "280"}/
      %td.templateColumnContainer{:align => "left", :valign => "top", :width => "50%"}
        %table{:border => "0", :cellpadding => "10", :cellspacing => "0", :width => "100%"}
          %u{:style => "padding-left: 18px; font: 14px/18px monospace"} It's time to talk to:
          %tr
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} Name:
            %td{:style => "padding-right: 18px; font: 24px/28px monospace"} @member.name
          %tr
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} E-mail:
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} @member.email
          %tr
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} Info:
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} @member.showcase_text
          %tr
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} URL:
            %td{:style => "padding-right: 18px; font: 14px/18px monospace"} @member.url
          -if @member.twitter.try(:profile_url)
            %tr
              %td{:style => "padding-right: 18px; font: 14px/18px monospace"} Twitter:
              %td{:style => "padding-right: 18px; font: 14px/18px monospace"} @member.twitter.try(:profile_url)
          -if @twitter_bio
            %tr
              %td{:style => "padding-right: 18px; font: 14px/18px monospace"} Twitter Bio:
              %td{:style => "padding-right: 18px; font: 14px/18px monospace"} @twitter_bio
          -if @member.facebook.try(:profile_url)  
            %tr
              %td{:style => "padding-right: 18px; font: 14px/18px monospace"} Facebook:
              %td{:style => "padding-right: 18px; font: 14px/18px monospace"} @member.facebook.try(:profile_url)
  %p{:style => "color: #555"}
    You are receiving these e-mails because you're setup to receive periodic member reminders every 24 hours. Contact ed@newspeak.house
    to change this.
  %p
    %strong Newspeak House
