- content_for :page_title do
  Checkout

- content_for :back_link do
  = dashboard_path

- if @subscription.customer_id.blank?
  %h2 Become a member
  %p One last step before you're a full member with a subscription! You need to checkout with Stripe.

- else
  %h2 Change credit card
  %p Just click on the button below and enter your new credit card details into the Stripe form.

%hr/
= render partial: 'stripe'
