@font-face {
  font-family: 'Copernicus';
  src: font-url('GalaxieCopernicus-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Copernicus';
  src: font-url('GalaxieCopernicus-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Copernicus-Semi';
  src: font-url('GalaxieCopernicus-Semibold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Copernicus-Semi';
  src: font-url('GalaxieCopernicus-SemiboldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}
