@import "bootstrap-sprockets";
@import "bootstrap";
@import "vis";

@font-face {
  font-family: 'Conv_F25_Executive';
  src: font-url('F25_Executive.eot');
  src: local('☺'), font-url('F25_Executive.woff') format('woff'), font-url('F25_Executive.ttf') format('truetype'), font-url('F25_Executive.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkuratLight';
  src: font-url('AkkuratLightRegular.eot');
  src: local('☺'), font-url('AkkuratLightRegular.woff') format('woff'), font-url('AkkuratLightRegular.ttf') format('truetype'), font-url('AkkuratLightRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'akkuratRegular';
  src: font-url('AkkuratRegular.eot');
  src: local('☺'), font-url('AkkuratRegular.woff') format('woff'), font-url('AkkuratRegular.ttf') format('truetype'), font-url('AkkuratRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: translateZ(1px) rotate($deg);
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media only screen and (max-width: 768px) {
	body {
	  font-family: 'akkuratLight', sans-serif;
	  background: image-url('bg.jpg') repeat;
	  background-size: 103px 103px;
	  color: #272727;
	  padding-bottom: 10px;
	  font-size: 18px;
	}

	.bold, .lead {
	  font-family: 'akkuratRegular' !important;
	  font-size: 20px;
	}

	a {
	  color: #c02d25;
	  transition: 100ms;
	  -webkit-transition: 100ms;
	}

	a:hover {
	  color: #272727;
	  text-decoration: none;
	}

	hr {
	  border-color: #aaa;
	  border-style: dotted;
	}

	.container {
		width: 100%;
		padding: 0 25px;
	  box-sizing: border-box;
	}

	.navbar-custom {
		margin-top: 10px;
	  	.logo {
	    width: 100px;
	    display: block;
	    margin: 0 auto 10px;

	    img {
	      width: 100px;
	    }
	  }

	  .show-nav-btn {
	  	width: 20px;
	  	height: 17;
	  	float: right;
	  	margin-top: -55px;
	  	padding: 10px;
	  	margin-right: 10px;

	  	img {
	  		width: 20px;
	  	}
	  }

	  #show-nav {
	  	display: none;
	  }

	  #show-nav:checked ~ .ulcontainer {
	    display: block;
		}

	  .doubleline {
	    background: image-url('dblln.png') repeat-x;
	    background-size: 1px 4px;
	    width: calc(100% + 20px);
	    height: 6px;
	    margin-left: -10px;
	  }

    .ulcontainer {
      display: none;
    }

	  .nav {
	    font-family: 'Conv_F25_Executive';
	    width: 100%;
	    margin: 0 auto;
	    font-size: 1em;

	    li {
	      margin-right: 10px;
	      -webkit-transition: 0.5s;
	      transition: 0.5s;
	      width: 100%;
	      text-align: center;

	      a {
	        padding: 15px 12px;

	        &:focus, &:hover {
	          color: #272727;
	          background: transparent;
	        }
	      }

	      &.active {
	        a {
	          color: #272727;
	          text-decoration: underline;
	        }
	      }
	    }
	  }
  }

  .mainimage {
  	display: none;
  }

  .single-line {
	  width: 100%;
	  height: 3px;
	  background: image-url('sngll.png') repeat-x;
	  background-size: 336px 2px;
	}

	.double-line {
	  width: 100%;
	  height: 4px;
	  background: image-url('dblln.png') repeat-x;
	  background-size: 1px 4px;
	}

	.front-nav {
		width: 100%;
		padding: 0;
		margin: 20px auto 10px;
		list-style: none;
		li {
			float: left;
			width: 50%;
			text-align: center;
			margin: 0 0 10px;
	    font-family: 'Conv_F25_Executive';
		}
	}

	.breakout {
		width: calc(100% + 20px) !important;
		margin-left: -10px;
	}

	.space {
		margin-top: 20px;
	}

	.footer {
	  width: 100%;
	  text-align: center;

	  a img {
	    width: 25px;
	    height: 14px;
	  }
	}

	.simple_form {
		input[type="password"], input[type="text"], input[type="email"] {
			background: transparent;
			box-shadow: none;
			border: 2px solid black;
			border-radius: 0px;
			font-size: 18px;
			padding: 20px 10px;
		}
		input[type="submit"], .stripe-button-el, .solo-link a {
			display: block;
			margin: 0 auto;
			font-size: 16px;
			border-radius: 3px;
			border: 3px solid #c02d25;
			background: transparent;
			font-family: "Conv_F25_Executive";
			font-weight: normal;
			color: #c02d25 !important;
			padding: 10px;
			@include rotate(-2deg);
			span {
				background: transparent;
				background-image: none;
				color: #c02d25;
				font-family: "Conv_F25_Executive";
				font-weight: normal;
				text-shadow: none;
				font-size: 16px;
				box-shadow: none;
			}
		}
		select {
			font-size: 16px;
			box-shadow: 0px;
			border-radius: 0;
			border: 2px solid black;
			background: transparent;
		}
	}

	.solo-link {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		a {
			display: inline-block;
			margin: 0 auto;
			font-size: 16px;
			border-radius: 3px;
			border: 3px solid #c02d25;
			background: transparent;
			font-family: "Conv_F25_Executive";
			font-weight: normal;
			color: #c02d25 !important;
			padding: 10px;
			@include rotate(1.5deg);
		}
	}

  .double-link {
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      margin: 0 auto 20px;
      font-size: 16px;
      border-radius: 3px;
      border: 3px solid #c02d25;
      background: transparent;
      font-family: "Conv_F25_Executive";
      font-weight: normal;
      color: #c02d25 !important;
      padding: 10px;
      margin-right: 20px;
      span {
        background: transparent;
        background-image: none;
        color: #c02d25;
        font-family: "Conv_F25_Executive";
        font-weight: normal;
        text-shadow: none;
        font-size: 16px;
        box-shadow: none;
      }
    }
  }

  .double-left {
    @include rotate (-2deg);
  }

  .double-right {
    @include rotate (1deg);
  }

	table {
	  background: transparent;
	  border: none;

	  td {
	  	border-top: 2px solid black;
	  }
	}

	.column-table {
	  width: 100%;
	  float: left;
	}

	.table {
		tbody tr td {
			border-top: 2px solid black;
		}

		thead tr th {
		  border-color: #272727;
		}
	}

	.table-border {
	  border: 2px solid #272727;
	}

	.table-label {
	  font-family: 'Conv_F25_Executive';
	}
}

@media only screen and (min-width: 768px) {
	body {
	  font-family: 'akkuratLight', sans-serif;
	  background: image-url('bg.jpg') repeat;
	  background-size: 103px 103px;
	  color: #272727;
	  padding-bottom: 40px;
	  font-size: 16px;
	}

	.bold {
	  font-family: 'akkuratRegular' !important;
	}

	a {
	  color: #c02d25;
	  transition: 100ms;
	  -webkit-transition: 100ms;
	}

	a:hover {
	  color: #272727;
	  text-decoration: none;
	}

	hr {
	  border-color: #aaa;
	  border-style: dotted;
	}

	.lead {
	  font-family: 'akkuratRegular', sans-serif;
	}

	.alt-title {
	  font-size: 1.6em;
	  font-family: 'akkuratRegular', sans-serif;
	}

	.double-line {
		background: image-url('dblln.png') repeat-x;
		background-size: 1px 4px;
		width: 100%;
		height: 6px;
		margin-top: 20px;
	}

  .ulcontainer {
    width: 100%;
    text-align: center;
  }

	.navbar-custom {
	  margin-top: 45px;
	  a {
	    color: #c02d25;
	  }

	  #show-nav {
	  	display: none;
	  }

	  .show-nav-btn {
	  	display: none;
	  }

	  .logo {
	    width: 150px;
	    display: block;
	    margin: 0 auto;
	    padding: 0 0 40px;

	    img {
	      width: 150px;
	    }
	  }

	  .doubleline {
	    background: image-url('dblln.png') repeat-x;
	    background-size: 1px 4px;
	    width: 100%;
	    height: 6px;
	  }

	  .nav {
      display: inline-block;
	    font-family: 'Conv_F25_Executive';
	    margin: 0 auto;
	    font-size: 1em;
      float: none;

      li:last-child {
        margin-right: 0px;

        a {
          padding-right: 0px;
        }
      }

	    li {
	      margin-right: 10px;
	      -webkit-transition: 0.5s;
	      transition: 0.5s;

	      a {
	        padding: 15px 12px;

	        &:hover, &:focus {
	          color: #272727;
	          background: transparent;
	        }
	      }

	      &.active {
	        a {
	          color: #272727;
	          text-decoration: underline;
	        }
	      }
	    }
	  }

    .nav li a:before {
      content: "[";
      position: absolute;
      font-family: 'Courier';
      margin-left: -12px;
      margin-top: -3px;
      font-weight: bold;
      color: #272727;
    }

    .nav li a:after {
      content: "]";
      position: relative;
      float: right;
      font-family: 'Courier';
      margin-left: 4px;
      margin-top: -3px;
      font-weight: bold;
      color: #272727;
    }
	}

	.mobileview {
		display: none;
	}

	.container {
	width: 1000px;
	}

	.space {
	  margin-top: 20px;
	  margin-bottom: 20px;
	}

	.extra-space {
	  margin-top: 20px;
	}

	.breakout {
	  margin-left: -50px;
	  margin-right: -50px;
	  width: calc(100% + 100px) !important;
	  margin-bottom: 4px;
	}

	.padding {
	  box-sizing: border-box;
	  padding: 0 80px;

	  img {
	    margin: 0 auto;
	    display: block;
	    margin-bottom: 30px;
	    margin-top: 20px;
	  }
	}

	.single-line {
	  width: 100%;
	  height: 3px;
	  background: image-url('sngll.png') repeat-x;
	  background-size: 336px 2px;
	}

	.solo-link, .double-link {
		width: 100%;
		text-align: center
	}

  .double-link a {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

	.solo-link a, .double-link a {
		display: inline-block;
		margin: 0 auto 20px;
		font-size: 16px;
		border-radius: 3px;
		border: 3px solid #c02d25;
		background: transparent;
		font-family: "Conv_F25_Executive";
		font-weight: normal;
		color: #c02d25 !important;
		padding: 10px;
		span {
			background: transparent;
			background-image: none;
			color: #c02d25;
			font-family: "Conv_F25_Executive";
			font-weight: normal;
			text-shadow: none;
			font-size: 16px;
			box-shadow: none;
		}
	}

	.simple_form input[type="submit"] {
		display: block;
		margin: 0 auto 20px;
		font-size: 16px;
		border-radius: 3px;
		border: 3px solid #c02d25;
		background: transparent;
		font-family: "Conv_F25_Executive";
		font-weight: normal;
		color: #c02d25 !important;
		padding: 10px;
		position: relative;
		z-index: 9999;
		span {
			background: transparent;
			background-image: none;
			color: #c02d25;
			font-family: "Conv_F25_Executive";
			font-weight: normal;
			text-shadow: none;
			font-size: 16px;
			box-shadow: none;
		}
	}

	.solo-link a {
		@include rotate(-2deg);
	}

	.double-left {
		@include rotate (-2deg);
	}

	.double-right {
		@include rotate (1deg);
	}

	.sigma-label {
	  display: inline-block;
	  border-bottom: 2px solid black;
	  border-right: 2px solid black;
	  font-family: 'Conv_F25_Executive';
	  font-style: italic;
	  padding: 3px 5px 0 0;
	  margin-top: -2px;
	  position: absolute;
	  z-index: 20;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}

	.node {
	  font: 10px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 1.5px;
	}

	.footer {
	  width: 100%;
	  text-align: center;

	  a img {
	    width: 25px;
	    height: 14px;
	  }
	}

	table {
	  background: transparent;
	  border-color: #272727;
	  border-bottom: 2px solid #272727;
	  border-image: image-url('texture.jpg') 0 27 27 27 round stretch;
	  @include rotate(-0.3deg);

	  thead {
	    font-family: 'Conv_F25_Executive';
	  }
	}

	.column-table {
	  width: calc(50% - 2px);
	  float: left;
	  @include rotate(0deg);
	}

	.table thead tr th {
	  border-color: #272727;
	}

	.table-border {
	  border: 2px solid #272727;
	}

	.table-label {
	  font-family: 'Conv_F25_Executive';
	}

	.simple_form {
	  width: 100%;
	  @include rotate(0.3deg);

	  .control-label {
	    text-align: left;
	    font-family: 'Conv_F25_Executive';
	    position: absolute;
	    z-index: 0;
	    width: 100%;
	    height: 54px;
	    font-style: italic;
	    left: 0px;
	  }

	  .col-sm-6 {
	    width: 100%;
	  }

	  .radio:first-child {
	    margin-top: 20px;
	  }

	  .radio {
	    margin-left: 20px;
	    font-family: 'Conv_F25_Executive';
	    position: relative;
	    z-index: 450;
	  }

	  select {
	    width: 200px;
	    display: block;
	    margin: 0 auto;
	    position: relative;
	    z-index: 9999;
	    margin-bottom: 10px;
	    background: transparent;
	    margin-top: 10px;
	    border-radius: 0px;
	    border: 2px solid black;
	    font-family: 'Conv_F25_Executive';

	  }

	  input[type="text"], input[type="email"], input[type="password"]{
	    position: relative;
	    z-index: 900;
	    width: 100%;
	    padding: 30px 0 5px 20px;
	    background: transparent;
	    font-family: 'AkkuratRegular', sans-serif;
	    height: 56px;
	    border-radius: 0px;
	    box-shadow: none;
	    -webkit-box-shadow: none;
	    border-bottom: 2px solid transparent;
	    border-image: image-url('texture.jpg') 0 27 27 27 round stretch;
	  }

	  .user_subscription_plan {
	    min-height: 54px;

	    .help-block {
	      font-family: 'Conv_F25_Executive';
	      margin-left: 13px;
	      margin-top: 7px;
	    }
	  }

	  .user_remember_me {
	    font-family: 'Conv_F25_Executive';
	    position: absolute;
	    z-index: 750;
	    padding-top: 5px;
	  }

	  .password .help-block {
	    font-family: 'Conv_F25_Executive';
	    position: absolute;
	    margin-top: -49px;
	    margin-left: 111px;
	  }

	  abbr {
	    cursor: auto;
	    border: 0;
	  }

	  .stripe-button-el {
	    width: 100%;
	    text-align: center;
	    background: transparent;
	    background-image: none;
	    margin: 20px 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    position: relative;
	    z-index: 9999;

	    span {
	      font-family: 'Conv_F25_Executive';
	      color: #c02d25;
	      background: transparent;
	      background-image: none;
	      border: 0;
	      text-shadow: none;
	      font-size: 1.4em;
	      -webkit-box-shadow: none;
	      box-shadow: none;
	      border: none;
	    }
	  }

	  .stripe-button-el:not(:disabled):active span, .stripe-button-el.active span, .stripe-button-el:active {
	    background: transparent !important;
	    background-image: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    color: #272727;
	    outline: 0
	  }
	}


	.form-group {
	  margin-bottom: 0
	}

	.form-submit {
		width: 100%;
		text-align: center;
		div input {
		display: block;
		margin: 20px auto;
		font-size: 16px;
		border-radius: 3px;
		border: 3px solid #c02d25;
		background: transparent;
		font-family: "Conv_F25_Executive";
		font-weight: normal;
		color: #c02d25 !important;
		padding: 10px;
		position: relative;
		z-index: 999;
		transition: 0.3s;
		-webkit-transition: 0.3s;

		@include rotate(-2deg);
			span {
				background: transparent;
				background-image: none;
				color: #c02d25;
				font-family: "Conv_F25_Executive";
				font-weight: normal;
				text-shadow: none;
				font-size: 16px;
				box-shadow: none;
			}
		}
		:hover {
			background: transparent;
			border-color: #272727;
		}
		:focus, :active {
			background: transparent;
			border-color: #272727;
		}
	}

	.simple_form:after {
	  border: 3px solid transparent;
	  border-image: image-url('texture.jpg') 0 27 27 27 round stretch;
	  content: '';
	  top: 0px;
	  left: 0px;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}

	.simple_form:before {
	  border-top: 2px solid transparent;
	  border-image: image-url('texture.jpg') 27 0 0 0 stretch round;
	  content: '';
	  height: 3em;
	  left: -3px;
	  top: 0;
	  width:101%;
	  position:absolute;
	}

	.has-error {
	  :focus {
	    outline: green;
	  }

	  .help-block {
	    display: none;
	  }
	}

	.alert {
	  margin-bottom: 0px;
	}

	.alert-danger {
	  background: transparent;
	  border: 0;
	}

	.nav-pills {
	  font-family: 'Conv_F25_Executive';

	  li:hover a {
	    background: transparent;
	  }
	}

  .panel {
    background: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

div.vis-network-tooltip {
	font-family: 'AkkuratRegular';
	background: #111;
	border-color: #000;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	padding: 6px 13px;
}
