/* = require reset */
/* = require fonts */

:root {
  --serif-font: 'Copernicus', 'Georgia', serif;
  --sans-serif-font: 'Lato', sans-serif;
  --almost-black: #2e2e2e;
  --danger: #901714;
  --red: #fd433e;
  --red-accent: #da3531;
  --grey-1: #ccc;
  --grey-2: #e8e8e8;
}

body {
  display: grid;
  grid-template-columns: 1fr 768px 1fr;
  grid-template-rows: repeat(4, auto);
  font-family: var(--serif-font);
  font-weight: 400;
  line-height: 1.75;
  color: #171717;
  background: #f1f1f1;
  min-height: 100vh;
}
@media (max-width: 940px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }
}

aside {
  grid-row: 1 / 5;
  grid-column: 1;
  background: var(--almost-black);
  padding: 12em 1em;
}
@media (max-width: 940px) {
  aside {
    grid-column: 1;
    grid-row: 2;
    background: inherit;
    padding: 0 1em;
  }
}

header {
  grid-column: 2;
  grid-row: 1;
  padding: 0 3em;
  text-align: center;
}
@media (max-width: 940px) {
  header {
    grid-column: 1;
    grid-row: 1;
    padding: 0 1em;
  }
}

main {
  grid-column: 2;
  grid-row: 2;
  padding: 3em;
}
@media (max-width: 940px) {
  main {
    grid-column: 1;
    grid-row: 3;
    padding: 0 1em;
  }
}

footer {
  grid-column: 2;
  grid-row: 4;
  margin: 6em 3em;
  padding-top: 0.5em;
  border-top: 1px solid;
}
@media (max-width: 940px) {
  footer {
    grid-column: 1;
    grid-row: 4;
    padding: 0;
    margin: 1em;
  }
}

nav {
  position: fixed;
  top: 12em;
  left: calc((100vw - 768px) / 2 - 1em);
  display: flex;
  flex-direction: column;
}
@media (max-width: 940px) {
  nav {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

nav a {
  padding: 0.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-style: italic;
}
@media (max-width: 940px) {
  nav a {
    padding-left: 0;
    padding-right: 1em;
  }  
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--serif-font);
  font-weight: 700;
}

h1 {
  font-size: 5.06em;
  line-height: 1.27em;
  padding-top: 0.615em;
  margin-bottom: 0.0220em;
}

h2 {
  font-size: 3.39em;
  line-height: 1.43em;
  padding-top: 0.852em;
  margin-bottom: 0.0984em;
}
@media (max-width: 800px) {
  h2 {
    font-size: 3em;
  }
}

h3 {
  font-size: 2.28em;
  line-height: 1.41em;
  padding-top: 1.07em;
  margin-bottom: 0.341em;
}

h4 {
  font-size: 1.50em;
  line-height: 1.07em;
  padding-top: 1.26em;
  margin-bottom: 0.889em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.1em;
  padding-top: 1.25em;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 1.125em;
  line-height: 1.1em;
  padding-top: 1.125em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--grey-1);
  width: 100%;
  box-sizing: border-box;
}

thead:nth-child(odd),
tr:nth-child(even) {
  background-color: var(--grey-2);
}

td {
  max-width: 0px;
  padding: 4px;
}

th {
  max-width: 0px;
  padding: 4px;
  text-align: left;
  font-family: var(--sans-serif-font);
  font-weight: 700;
}
@media (max-width: 800px) {
  th {
    padding: 2px;
  }
}

p {
  font-size: 1em;
  line-height: 1.61em;
  padding-top: 0.444em;
  margin-bottom: 1.17em;
}

small,
.text_small {
  font-size: 0.75rem;
}

a {
  font-family: var(--serif-font);
  text-decoration: none;
  color: var(--red);
}

a:hover {
  color: var(--red-accent);
}

.section-link {
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid;
  padding: 0.5em;
  color: var(--red);
  font-weight: 400;
  letter-spacing: 0.1em;
  font-style: inherit;
}

.section-link:hover {
  color: var(--red-accent);
}

img {
  max-width: 100%;
}

ul {
  list-style: initial;
}
@media (max-width: 800px) {
  ul {
    margin-left: 0;
  }
}

li {
  margin-bottom: 0.35em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"] {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid var(--grey-1);
  box-sizing: border-box;
}

input[type="submit"] {
  cursor: pointer;
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5em;
  color: var(--red);
  font-weight: 400;
  letter-spacing: 0.1em;
  background: none;
  white-space: normal;
}

input[type="select"]{
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5em;
  color: var(--red);
  font-weight: 400;
  letter-spacing: 0.1em;
  background: none;
}

textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid var(--grey-1);
  box-sizing: border-box;
}

label {
  font-weight: 700;
}

.form-group {
  margin-bottom: 16px;
}

.help-block {
  display: block;
  color: #737373;
}

.button-link {
  padding: 0.5em;
  border: 1px solid;
  background: #fff;
}

.alert {
  margin-bottom: 1em;
}

.alert-danger {
  color: var(--danger);
  font-weight: 700;
}

.head-image {
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: 1em;
}
@media(max-width: 940px) {
  .head-image {
    padding-top: 2em;
  }
}

.head-title {
  width: 100%;
}
@media(max-width: 940px) {
  .head-title {
    padding-top: 2em;
  }
}

.head-title img {
  width: 400px;
  margin-top: 80px;
}
@media(max-width: 940px) {
  .head-title img {
    margin-top: 0;
  }
}

@media(max-width: 940px) {
  .head-byline {
    margin-bottom: 32px;
  }
}

.profile {
  display: flex;
  padding-bottom: 1em;
  margin: 1em 0;
}
@media(max-width: 800px) {
  .profile {
    flex-direction: column;
  }
}

.profile-pic {
  flex: 0 0 160px;
  height: 200px;
  background-position: center;
  background-size: cover;
  box-shadow: 8px 8px 0px 0px var(--almost-black);
  margin-right: 0.5em;
}
@media (max-width: 800px) {
  .profile-pic {
    flex: 0 0 300px;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .profile-text {
    margin-top: 1em;
  }
}

.profile-text p {
  margin-top: 0;
  margin-left: 1.5em;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .profile-text p {
    margin-left: 0;
  }
}

.profile-title {
  margin-bottom: 0;
}

.profile-subtitle {
  color: #737373;
  font-size: 1.3em;
}

.quote {
  font-style: italic;
}

.member {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 120px auto;
}
@media (max-width: 600px) {
  .member {
    display: block;
    margin-top: 2em;
  }
}

.member img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  box-shadow: 8px 8px 0px 0px #000;
}

.member-text {
  padding-left: 2em;
}
@media (max-width: 600px) {
  .member-text {
    padding-left: 0;
    margin-top: 1em;
  }
}

@media (max-width: 600px) {
  .member-text p {
    margin-left: 0;
  }
}

.wide-pic {
  width: 100%;
  height: 200px;
  background-color: var(--grey-1);
  background-position: center;
  background-size: cover;
  margin-bottom: 2em;
  margin-top: 1em;
}

.event {
  border-left: 1px solid var(--almost-black);
  padding-left: 1em;
  margin-bottom: 3em;
}
@media (max-width: 600px) {
  .event {
    word-break: break-word;
  }
}

.event-details {
  display: inline-block;
  font-family: var(--sans-serif-font);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.event-title {
  font-weight: 700;
  font-size: 1.31em;
  line-height: 1.43em;
}

.event-host {
  font-style: italic;
}

.no-topping {
  padding-top: 0;
  margin-top: 0;
}

.event-actions {
  margin-top: 1em;
}


details summary > * {
  display: inline;
}

details summary { 
  cursor: pointer;
}

summary::marker {
  color: #fd433e;
  font-size: 36.48px;
}

summary::-webkit-details-marker {
   color: #fd433e;
   font-size: 36.48px;
}

summary {
  padding: 50px 0px 0px 10px;
  border-radius: 5px;
}
