@import "bootstrap-sprockets";
@import "bootstrap";
@import "vis";
@import "mixins";
@import "font-awesome";

@font-face {
  font-family: 'F25';
  src: font-url('F25_Executive.eot');
  src: local('☺'), font-url('F25_Executive.woff') format('woff'), font-url('F25_Executive.ttf') format('truetype'), font-url('F25_Executive.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), font-url('LibreBaskerville-Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), font-url('LibreBaskerville-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), font-url('LibreBaskerville-Bold') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), font-url('LibreBaskerville-Bold') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), font-url('LibreBaskerville-Italic') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), font-url('LibreBaskerville-Italic') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  background: white;
  background-size: 103px 103px;
  font-family: 'Libre Baskerville', serif;
  text-rendering: optimizeLegibility;
}

.logo a {
  @include h-center;
  @include fast-transition;

  font-family: 'F25';
  position: fixed;
  color: white;
  width: 250px;
  border-top: 5px solid #1c2f52;
  top: -5px;
  padding: 10px;
  font-size: 1.4em;
  text-align: center;
  background: #1c2f52;
  z-index: 999;
  cursor: pointer;

  &:hover {
    top: 0px;
    text-decoration: none;
  }

  &:focus, &:active {
    text-decoration: none;
  }
}

section {
  position: relative;
  display: flex;
  width: 100%;
  padding: 60px 0 80px;
  overflow: hidden;
  color: #424242;

  &.no-top-padding {
    padding-top: 0px !important;
  }

  &.no-bottom-padding {
    padding-bottom: 0px !important;
  }

  h2 {
    font-family: 'Libre Baskerville';
    margin-bottom: 60px;
    font-size: 22px;
    color: #1c2f52;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    &.top-margin {
      margin-top: 40px;
    }

    a {
      color: #1c2f52;
      font-family: 'F25';
      text-transform: none;
      cursor: pointer;
    }
  }

  &.flip {
    background: image-url('bg.jpg') repeat #ededed;
    background-size: 200px 200px;
  }

  &.no-padding {
    padding: 0;
  }
}

.side-link {
  @include fast-transition;
  position: absolute;
  top: 63px;
  right: 0;
  left: auto;
  width: 50px;
  height: 48px;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #1c2f52;

  &:hover {
    text-decoration: none;
    right: -5px;
    color: #1c2f52;
  }
}

.back-link {
  @include fast-transition;
  position: absolute;
  left: 20px;
  width: 50px;
  height: 45px;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #1c2f52;

  &:hover {
    text-decoration: none;
    left: 15px;
    color: #1c2f52;
  }
}

.top-left-link {
  position: absolute;
  left: 0;
  @include v-center;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #1c2f52;
  @include fast-transition;
  text-transform: uppercase;

  &:hover {
    left: -2px;
    text-decoration: none;
    color: #1c2f52;
  }
}

.top-right-link {
  @include v-center;
  right: 24px;
  font-size: 40px;
  color: #1c2f52;
  text-decoration: none;
  @include fast-transition;

  &:hover {
    right: 22px;
    text-decoration: none;
    color: #1c2f52;
  }
}

.home {
  .house {
    @include slow-transition;
    margin-top: 70px;
    position: relative;
    padding-bottom: 20px;

    img {
      max-height: 600px;
      max-width: 60vw;
      -webkit-animation: fadein 0.8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.8s; /* Firefox < 16 */
        -ms-animation: fadein 0.8s; /* Internet Explorer */
         -o-animation: fadein 0.8s; /* Opera < 12.1 */
            animation: fadein 0.8s;
    }
  }

  .intro {
    @include center;
    padding: 10px 0 100px;
    color: #1c2f52;
    letter-spacing: 1px;
    font-family: 'F25';
  }

  .events {
    position: relative;
    background: image-url('bg.jpg') repeat;
    background-size: 200px 200px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        &:last-child {
          padding-bottom: 10px !important;
        }

        border-top: 1px solid #ccc;
        padding: 20px 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .event-date {
          display: flex;
          flex-direction: column;
          width: 100px;

          span {
            display: block;
            width: 100px;
            text-align: center;
            font-size: 20px;

            &.event-date-day {
              font-size: 50px;
              line-height: 50px;
            }
          }
        }

        .event-details {
          display: flex;
          flex-direction: column;
          width: calc(100% - 120px);

          .event-title {
            font-weight: bold;
            font-size: 1.2em;
            color: #1c2f52;
            font-family: 'F25', serif;
          }

          .event-location {
            font-style: italic;
            color: #888;
            margin-bottom: 10px;

            .event-time {
              font-style: normal;
              color: #000;
              margin-left: 6px;
            }
          }
        }

        .event-link a {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 20px;
          color: #1c2f52;
          font-size: 20px;
          @include fast-transition;

          &:hover {
            text-decoration: none;
            right: -2px;
          }
        }
      }
    }
  }

  .membership {
    background: image-url('bg.jpg') repeat;
    padding-bottom: 100px;
    .progress {
      background: white;
      box-shadow: none;
      border-radius: 4px;
      height: 30px;
      margin-top: 20px;
    }

    .progress-bar {
      background-color: #1c2f52;
    }

    .progress-details {
      width: 100%;

      div {
        width: 50%;
        float: left;

        span {
          display: block;
          width: 100%;

          &.membership-progress {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .contact {
    text-align: center;
    a {
      color: #1c2f52;
      text-decoration: underline;
    }
  }

  .fellows {
    background: white;
  }

  .quotes {
    padding-top: 100px;
    padding-bottom: 80px;
    line-height: 30px;

    .carousel-inner {
      width: 66.66666667%;
      text-align: center;
    }

    .carousel-control {
      text-shadow: none;
      color: #1c2f52;
    }

    span {
      display: block;
      margin-top: 20px;
      font-weight: bold;
    }
  }
}

.footer {
  text-align: center;
  padding-bottom: 100px;
  img {
    display: none;
  }
  background-image: image-url('dashes.png'), image-url('bg.jpg');
  background-repeat: no-repeat, repeat;
  background-position: center center, center center;
  background-color: #ededed;
  background-size: 1024px auto, 200px 200px;
}

.page {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: image-url('bg.jpg');

  .wrap {
    background: white;
    width: 100%;
    padding: 40px;
  }
}

.events-table {
  margin-top: -20px;
  width: 100%;

  tbody {
    border: 1px solid #ccc;
  }

  .eventdate {
    width: 150px;
    vertical-align: top;
    padding-top: 12px;

    .dayofmonth {
      width: 40px;
      font-size: 40px;
      line-height: 36px;
      float: left;
      text-align: right;
      margin-right: 10px;
      margin-top: 4px;
      color: #1c2f52;
    }

    .shortdate {
      color: rgba(0,0,0,0.4);
      font-size: 0.8em;
    }
  }

  .eventtime {
    width: 150px;
    vertical-align: top;
    padding-top: 12px;
  }

  .eventdetails {
    vertical-align: top;
  }

  .event-header {
    margin-bottom: 20px;

    h5 {
      font-family: 'F25', serif;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .event-organiser a {
      text-decoration: underline;
    }
  }
}

.graph-error {
  text-align: center;
  padding-top: 40vh;
  font-size: 16px;
  color: #999;
}

.graph-wrapper {
  position: relative;
}

.graph-panel {
  position: absolute;
  top: 40px;
  left: 70px;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  padding-bottom: 0;
}

.graph-loader {
  position: absolute;
  background: #fff image-url('loader.gif') no-repeat center center;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  z-index: 100;
  opacity: 0.5;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 40vh;
}

.vis-network-tooltip {
  font-family: 'F25';
  background: #111;
  border-color: #000;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  padding: 6px 13px;
}

.members-list, .fellows-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .member-image, .fellow-image {
      position: relative;
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      text-align: center;
      img {
        width: auto;
        height: auto;
        max-width: 60px;
        max-height: 60px;
      }
    }

    .member-details, .fellow-details {
      display: flex;
      flex-direction: column;
      width: calc(100% - 110px);
      margin-left: 10px;

      .member-title, .fellow-name {
        font-family: 'F25', serif;
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 1.2em;
        color: #1c2f52;
      }

      .member-description, .fellow-description {
        display: block;
      }

      .member-links a {
        color: #1c2f52;
      }
    }
  }
}

.members-list {
  margin-top: 40px
}

.event-table {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  a {
    color: #1c2f52;
    font-weight: bold;
  }
  .event-date {
    display: flex;
    flex-direction: column;
    width: 100px;

    span {
      display: block;
      width: 100px;
      text-align: center;
      font-size: 20px;

      &.event-date-day {
        font-size: 40px;
        line-height: 40px;
        color: #1c2f52;
      }

      &.event-date-month {
        color: #666;
        font-size: 18px;
      }

      &.eventtime {
        font-size: 14px;
        margin-top: 10px;
        color: #1c2f52;
        font-weight: bold;
      }
    }
  }
  .event-details {
    padding-left: 40px;
    .event-header a:first-child {
        display: block;
        font-size: 20px;
    }
    .event-organiser a {
      display: block;
      font-style: italic;
      color: #666;
      margin-bottom: 10px;
      font-size: 14px !important;
    }
  }
}

.blog {
  width: 60vw;
  margin: 0 auto;
  .blog-header {
    img {
      width: 60px;
      height: auto;
      border-radius: 100px;
      margin-right: 15px;
      float: left;
    }
    .name {
      color: #1c2f52;
      font-size: 16px;
      display: block;
      margin-bottom: 2px;
    }
    .title {
      color: #888;
      font-size: 12px;
      display: block;
      margin-bottom: 2px;
    }
    .date {
      color: #888;
      font-size: 12px;
    }
  }
  .blog-content {
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 40px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
    color: #333;
    a {
      text-decoration: underline;
      color: #1c2f52;
    }
    img {
      max-width: 100%;
      width: auto;
      height: auto;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 40px;
    }
  }
}
h2.fellowship {
  margin-top: 40px
}
p.fellowship {
  width: 60vw;
  margin: 20px auto 20px;
  line-height: 24px;
  a {
    color: #1c2f52;
    text-decoration: underline;
  }
}