- content_for :content do
  - if notice
    .alert.alert-success.alert-dismissible
      = notice

  - if alert
    .alert.alert-danger.alert-dismissible
      = alert

  = content_for?(:subpage_content) ? yield(:subpage_content) : yield

= render template: 'layouts/application'
